* {
  padding: 0;
  margin: 0;
}

body.html {
  width: 100%;
  font-size: 12px;
}

ul {
  list-style: none;
}

/*query_start*/
.query-container {
  width: 100%;
  border-radius: 3px;
  margin: 15px auto;
  padding: 0 0 25px 0;
}

.query-container  i{
  font-style: normal;
}

.query-container .query-title {
  width: 100%;
  height: 35px;
  font-size: 0;
  background: #fff;
  color: #555655;
  border-bottom: 1px solid #E55150;
  overflow: hidden;
}

.query-container .query-title .active {
  background: #E4524F;
  color: #F8E2E0;
  border: 1px solid #E22820;
  border-bottom: none;
}

.query-container .query-title span {
  height: 35px;
  line-height: 35px;
  width: 80px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  color: #4D4E51;
  border: 1px solid transparent;
}

.query-title span:nth-child(4) {
  border-right: none;
}

/*新闻_start*/
.news-content {
  display: none;
}

.query-container .news-container {
  padding: 10px 25px;
  font-size: 12px;
}

.query-container .news-container li {
  border-bottom: 1px solid #B9BBBA;
  padding: 15px 0;
}

/*.query-container .news-container li:last-child {*/
/*border-bottom: none;*/
/*}*/

.query-container .news-container .title-title {
  font-size: 12px;
  color: #404143;
  width: 90%;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.query-container .news-container .news-info {
  width: 800px;
  font-size: 12px;
  -webkit-transform-origin-x: 0;
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  -o-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-transform: scale(0.90);
  -moz-transform: scale(0.90);
  -ms-transform: scale(0.90);
  -o-transform: scale(0.90);
  transform: scale(0.90);
  color: #9D9E9D;
  padding-top: 3px;
}

.query-container .news-container .news-cont {
  width: 110%;
  font-size: 12px;
  -webkit-transform-origin-x: 0;
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  -o-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-transform: scale(0.90);
  -moz-transform: scale(0.90);
  -ms-transform: scale(0.90);
  -o-transform: scale(0.90);
  transform: scale(0.90);
  color: #9D9E9D;
}

.page-container .pageMenu li::selection {
  background: transparent;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.hide {
  display: none;
}

.page-container {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
}

.page-container .pageMenu {
  display: inline-block;
  margin: 0 auto;
}

.page-container .pageMenu li {
  border: solid thin #D8DAD8;
  float: left;
  padding: 2px 0;
  width: 23px;
  text-align: center;
  margin-left: -1px;
  cursor: pointer;
  background: #fff;
  color: #2D82CC;
}

.page-container .pageMenu li.firstPage {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  width: 30px;
}

.page-container .pageMenu li.lastPage {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  width: 30px;
}

.page-container .pageMenu li.disabled {
  color: #D8DAD8;
  cursor: not-allowed;
}

.page-container .pageMenu li.active {
  border: solid thin #0099FF;

  background-color: #0099FF;
  color: white;
}

.page-container .pageMenu li.last {
  background: transparent;
  border: 0;
  position: relative;
  top: -4px;
}

.page-container .pageObj {
  float: left;
}

/*新闻_end*/

/*公告_start*/
.notice-content {
  display: none;
  position: relative;
}

.notice-content .notice-kind {
  font-size: 12px;
  color: #555655;
  margin-right: 20px;
  margin-top: 10px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 9px;
}

.notice-content .notice-kind i {
  font-size: 12px;
  margin-top: 3px;
}

.notice-content .notice-list {
  display: none;
  position: absolute;
  z-index: 99;
  right: 24px;
  top: 38px;
  width: 70px;
  border: 1px solid #B8CEEC;
  color: #757675;
  font-size: 12px;
  padding: 5px 1px 5px 10px;
  background: #F4F5F4;
}

.notice-content .notice-list li {
  font-size: 12px;
  -webkit-transform-origin-x: 0;
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  -o-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-transform: scale(0.90);
  -moz-transform: scale(0.90);
  -ms-transform: scale(0.90);
  -o-transform: scale(0.90);
  transform: scale(0.90);
}

.notice-content .notice-list li input[type="checkbox"] + label {
  cursor: pointer;
  border-radius: 1px;
}

.notice-content .notice-list li [id^="checkbox-"] + label {
  background-color: #ffffff;
  border: 1px solid #888988;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  width: 10px;
  height: 10px;
  border-radius: 0;
  display: inline-block;
}

.notice-content .notice-list li [id^="checkbox-"] + label:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.notice-content .notice-list li [id^="checkbox-"]:checked + label {
  background-color: #606160;
  border: 1px solid #5B5C5B;
  width: 10px;
  height: 10px;
  line-height: 10.5px;
  text-align: center;
}

.notice-content .notice-list li [id^="checkbox-"]:checked + label::before {
  content: '\2713';
  font-size: 12px;
  color: #E6E7E6;
}

.notice-content .notice-list li button {
  background: #555655;
  color: #DADBDA;
  font-size: 13px;
  padding: 0 12px;
  border: 1px solid #444544;
  margin-left: 8px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 2px;
}

/*公告_end*/

/*研报_start*/
.report-content {
  display: block;
  padding: 10px 25px;
  font-size: 12px;
}

/*图片新闻样式*/
.report-container .img-news {
  width: 100%;
  /*display: flex;*/
  /*align-items: flex-start;*/
  /*justify-content: flex-start;*/
  margin-bottom: 15px;
  border-bottom: 1px solid #B9BBBA;
  padding: 15px 0 20px 0;
  overflow: hidden;
}

.report-container .img-news {
  /*display: flex;*/
  /*align-items: flex-start;*/
  /*justify-content: space-between;*/
  color: #404143;
}

.report-container .img-news .author, .report-container .img-news .time, .img-news .img-cont {
  width: 25%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
}

.report-container .img-news .time {
  /*width: 210px;*/
  /*justify-content: center;*/
}

.report-container .img-news .img-cont {
  /*width: 324px;*/
  /*justify-content: center;*/
}

.report-container .img-news img {
  width: 130px;
  height: 80px;
}

.report-container .img-news .span-btn {
  padding: 1px 3px;
  color: #3377B9;
  border: 1px solid #3377B9;
  border-radius: 2px;
  cursor: pointer;
  float: right;
}

.report-container .img-news .span-btn a {
  text-decoration: none;
}

/*普通新闻样式*/
.report-container .plain-news {
  margin-bottom: 15px;
  padding: 10px 0 0 0;
  border-bottom: 1px solid #B9BBBA;
  width: 100%;
}

/*.report-container .plain-news:last-child {*/
/*border-bottom: none;*/
/*}*/

.report-container .plain-news .title-line {
  overflow: hidden;
  font-size: 12px;
  color: #555655;
}

.report-container .plain-news .title-line .news-title {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
}

.report-container .plain-news .title-line .span-btn {
  display: inline-block;
  padding: 1px 3px;
  color: #3377B9;
  border: 1px solid #3377B9;
  border-radius: 2px;
  cursor: pointer;
  float: right;
}

.report-container .plain-news .span-btn a:link {
  color: #3377B9;
}

.report-container .plain-news .span-btn a:visited {
  color: #3377B9;
}

.report-container .plain-news .span-btn a:hover {
  color: #3377B9;
}

.report-container .plain-news .span-btn a:active {
  color: #3377B9;
}

.plain-news .news-title a:link {
  text-decoration: none;
}

.query-container .news-title a:link {
  color: #555655;
}

.query-container .news-title a:visited {
  color: #555655;
}

.query-container .news-title a:hover {
  color: #555655;
}

.query-container .news-title a:active {
  color: #555655;
}

.report-container .plain-news .news-info {
  width: 800px;
  font-size: 12px;
  -webkit-transform-origin-x: 0;
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  -ms-transform-origin-x: 0;
  -o-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-transform: scale(0.90);
  -moz-transform: scale(0.90);
  -ms-transform: scale(0.90);
  -o-transform: scale(0.90);
  transform: scale(0.90);
  color: #9D9E9D;
  padding-top: 3px;
}

.report-container .plain-news .news-cont {
  width: 110%;
  font-size: 12px;
  -webkit-transform-origin-x: 0;
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  -ms-transform-origin-x: 0;
  -ms-transform-origin: 0 0 0;
  -o-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-transform: scale(0.90);
  -moz-transform: scale(0.90);
  -ms-transform: scale(0.90);
  -o-transform: scale(0.90);
  transform: scale(0.90);
  color: #9D9E9D;
  margin-bottom: 15px;
}

.report-content .pag-container {
  margin-top: 40px;
}

/*研报_end*/

/*社交_start*/
.social-content {
  display: none;
  font-size: 12px;
}

/*社交_end*/
/*query_end*/




/*搜索页*/
.report-query {
  width: 100%;
  height: 70px;
}

.report-query input {
  width: 136px;
  padding: 5px 2px;
  border: 1px solid #E5E6E5;
  margin-right: 10px;
}

.report-query button {
  padding: 4px 20px;
  background: #0079BA;
  color: #FDFEFD;
  border: 1px solid #0063B3;
  border-radius: 0;
}