* {
  padding: 0;
  margin: 0;
}

body, html {
  width: 100%;
  font-family: "arial,sans-serif";
  font-size: 12px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button, input {
  outline: none;
}

.out-container {
  width: 100%;
  background-color: #272C30;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

/*left_start*/

/*nav_start*/
.nav-container {
  width: 185px;
  background-color: #272C30;
  min-height: 700px;
  color: #FEFFFE;
  height: 100%;
  float: left;
}

/*header_left_start*/
.left-company {
  padding: 0 2px;
  height: 35.3px;
  line-height: 35.3px;
  background-color: #272C30;
  color: #FEFFFE;
  font-size: 16px;
  overflow: hidden;
}

.left-company img {
  width: 18.6px;
  height: 18.6px;
  margin: 8px 5px;
  float: left;
}

.left-company i {
  font-size: 12px;
  float: right;
  cursor: pointer;
}

.nav-close .left-company img {
  cursor: pointer;
}

/*header_right_end*/

.nav-container .user-avatar {
  height: 86px;
  line-height: 86px;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 1px;
}

.nav-container .user-avatar img {
  width: 49.33px;
  height: 49.33px;
  border-radius: 50%;
  margin: 18px 10px 18px 15px;
  float: left;
}

.nav-container .user-avatar span {
  display: inline-block;
  height: 49.33px;
  line-height: 49.33px;
}

.avatar-linear {
  width: 180px;
  margin-bottom: 1px;
  height: 1px;
  margin-left: 3px;
  background-color: #465259;
}

/*nav_start*/
.nav-list {
  width: 100%;
  max-width: 190px;
  margin: 9px auto 20px;
  color: #C1C2C1;
  font-size: 12px;
}

.nav-list li {
  width: 100%;
  height: 33px;
  line-height: 33px;
  overflow: hidden;
}

.nav-list a {
  color: #C1C2C1;
  display: inline-block;
  height: 100%;
  width: 175px;
  float: left;
}

.nav-list li .linear {
  display: inline-block;
  height: 100%;
  width: 3px;
  background: #282C2F;
  float: left;
}

.nav-list li:hover {
  background: #4D5364;
  color: #FDFEFD;
}

.nav-list li:hover .linear {
  background: #159788;
}

.nav-list li.active {
  background: #4D5364;
  color: #FDFEFD;
}

.nav-list li.active .linear {
  background: #159788;
}

.nav-list li i {
  padding: 0 8px;
}

.nav-close {
  width: 32px;
  overflow: hidden;

}

.nav-close .nav-list li i {
  display: inline-block;
  padding: 0 8px 0 4px;
}

.nav-close .nav-list li .title {
  display: none;
}

.nav-close .left-company {
  width: 32px;
  justify-content: center;
}

.nav-close .left-company span, .nav-close .left-company i {
  display: none;
}

.aside-nav {
  display: none;
  position: absolute;
  left: 32px;
  top: 36px;
  z-index: 999;
  width: 63.33px;
  margin: 9px auto 20px;
  color: #FDFEFD;
  font-size: 12px;
}

.aside-nav li {
  background: #4C5263;
  height: 33px;
  line-height: 33px;
  visibility: hidden;
}

.aside-nav .aside-active {
  visibility: visible;
}

/*nav_end*/
/*left_end*/

/*right_start*/
.right-container {
  overflow: hidden;
  background-color: #F3F3F3;
  min-width: 1000px;
  min-height: 700px;
  flex: 1;
}

/*header_right_start*/
.right-login {
  background-color: #fff;
  height: 35.3px;
  line-height: 35.3px;
  overflow: hidden;
}

.right-login .user-login {
  height: 100%;
  width: 90px;
  float: right;
  padding: 2px 10px;
  background: #EEEEEE;
  margin-right: 20px;
  color: #777777;
  font-size: 13px;
  cursor: pointer;
}

.right-login .user-login img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 5px;
  float: left;
}

.right-login .user-login span {
  float: right;
}

.right-login .user-login .span-down {
  float: right;
  margin-top: 16px;
  margin-left: 3px;
  border-top: 4px solid #777;
  border-right: 4px solid transparent;;
  border-left: 4px solid transparent;;
  border-bottom: 4px solid transparent;
}

.right-login .user-login .span-up {
  display: inline-block;
  margin-top: 12px;
  margin-left: 3px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;;
  border-left: 4px solid transparent;;
  border-bottom: 4px solid #777;
}

.user-manage {
  display: none;
  position: absolute;
  top: 35px;
  right: 20px;
  z-index: 99;
  width: 131px;
  background: #7A858F;
  color: #EFF0F1;
  border-radius: 3px;
  overflow: hidden;
}

.user-manage li {
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid #737D87;
  padding: 0 10px;
  font-size: 12px;
}

.user-manage li:hover {
  background: #737D87;
}

.user-manage li i {
  margin-right: 2px;
  font-size: 11px;
}

/*header_right_end*/

.content-container {
  width: 71%;
  /*margin: 10px 5%;*/
  margin: 10px auto;
  background: #fff;
  padding: 15px 15px 80px 15px;
  position: relative;
}

.header-outer {
  height: 64px;
  position: relative;
}

.content-container .header-title {
  padding: 13.33px 15px 13.33px 8px;
  background: #F5F5F5;
  font-size: 26px;
  color: #7E7777;

  overflow: hidden;
}

.content-container .header-title div {
  float: left;
}

.content-container .header-title span {
  color: #E53935;
}

.content-container .header-search {
  float: right !important;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  margin-top: 5px;
}

.content-container .header-search input {
  padding-left: 10px;
  width: 130px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #A5C2E9;
  float: right;
  -webkit-appearance: none;
  border-radius: 0;
}

.content-container .header-search span {
  display: inline-block;
  border-radius: 0;
  font-size: 12px;
  height: 28px;
  line-height: 30px;
  width: 65px;
  text-align: center;
  background: #E7524F;
  color: #fff;
  margin-left: -1px;
  cursor: pointer;
  float: right;
}

.res-list {
  position: absolute;
  top: 49px;
  right: 15px;
  width: 280px;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 12px;
  border: 1px solid #DCDDDC;
  box-shadow: 0 1px 1px 1px #E7E8E7;
  color: #686968;
  background: #FEFFFE;
  z-index: 999;
  display: none;
}

.res-list tbody {
  width: 100%;
}

.res-list tbody td {
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
  width: 24%;
}

.res-list tbody td:nth-child(4) {
  width: 14%
}

.res-list tbody td:nth-child(5) {
  width: 14%
}

.res-list tbody td a {
  text-decoration: none;
  color: #717271;
}

.res-list tbody td a:link {
  color: #717271;
}

.res-list tbody td a:visited {
  color: #717271;
}

.res-list tbody td a:hover {
  color: #717271;
}

.res-list tbody td a:active {
  color: #717271;
}

.res-list tbody tr:hover {
  background: #E4EEF9;
}

.res-list tbody tr span {
  padding: 0 4px 1px 4px;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  -webkit-transform: scale(0.90);
  -moz-transform: scale(0.90);
  -ms-transform: scale(0.90);
  -o-transform: scale(0.90);
  transform: scale(0.90);
  cursor: pointer;
}

.res-list .report-btn {
  background: #E7524E;
  color: #FDF2F2;
}

.res-list .finance-btn {
  background: #49535E;
  color: #E6E8EA;
}

.res-list .search-btn {
  background: #0079BA;
  color: #EDF6FA;
}

.res-list i {
  font-style: normal;
}

.content-container .search-container {
  position: absolute;
  top: 62px;
  right: 93px;
  z-index: 999;
  width: 129px;
  font-size: 12px;
  border: 1px solid #C2C3C6;
  border-top: none;
  background: #FEFFFE;
  display: none;
}

.content-container .search-container li {
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-container .search-container li span {
  padding: 0 4px;
  color: #737473;
}

.content-container .search-container .select, .content-container .search-container li:hover {
  background: #F4F5F4;
}

.kind-tab {
  width: 100%;
  margin-top: 30px;
  cursor: pointer;
  font-size: 0;
  margin-bottom: 1px;
  position: relative;
  z-index: 9999;
}

.kind-tab .left-group {
  float: left;
  font-size: 0;
  z-index: 99;
}

.kind-tab .right-group {
  float: right;
  font-size: 0;
}

.kind-tab .left-group span, .kind-tab .right-group span {
  display: inline-block;
  padding: 6px 0;
  width: 80px;
  background: #F5F5F5;
  color: #747474;
  text-align: center;
  border-radius: 1px;
  font-size: 12px;
}

/*.kind-tab .left-group span:nth-child(2), .kind-tab .right-group span:nth-child(2) {*/
/*!*margin-left: -4px;*!*/
/*}*/

.kind-tab .left-group .active, .kind-tab .right-group .active {
  background: #E7524F;
  color: #fff;
}

.export-container {
  display: none;
  position: absolute;
  top: 28px;
  right: 0;
  width: 79px;
  border-radius: 1px;
  background: #F3F5F6;
  color: #48494B;
  border: 1px solid #E0E1E3;
  border-top: none;
  font-size: 12px;
  z-index: 9999;
}

.export-container li {
  height: 28px;
  line-height: 28px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #F3F5F6;
  border-bottom: 1px solid #F3F5F6;
}

.export-container li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #48494B;
}

.export-container li a:link {
  color: #48494B;
}

.export-container li a:visited {
  color: #48494B;
}

.export-container li a:hover {
  color: #F8FAFB;
}

.export-container li a:active {
  color: #48494B;
}

.export-container .active, .export-container li:hover {
  border-top: 1px solid #363739;
  border-bottom: 1px solid #363739;
  background: #5A5B5D;
  color: #F8FAFB;
}

/*表格样式*/
.content-container .table-container {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #A0C1E8;
  font-size: 12px;
  margin-top: -1px;
}

.table-container thead {
  background-color: #E4EEFA;
  border-bottom: 1px solid #9FBFE9;
  color: #000002;
}

.table-container thead td {
  padding: 10px 0;
  border-right: 1px solid #A0C1E8;
  text-align: center;
  width: 16%;
}

.table-container thead .first-col {
  width: 20%;
}

.table-container tbody td {
  border-right: 1px solid #A0C1E8;
  padding: 5px 5px;
  text-align: right;
  color: #6E6E71;
  font-family: arial, sans-serif, tahoma;
  width: 16%;
}

.table-container tbody tr:nth-child(even) {
  background: #EFF2F3;
}

.table-container tbody .tr-title {
  text-align: left;
  color: #000002;
  width: 20%;
}

.table-container tbody .even-bg {
  background: #F0F2F3;
}

.static-red {
  color: #FC1F1F;
}

.static-green {
  color: #2BFE2B;
}

.static-blue {
  color: #424DFC;
}

.data-table {
  display: none;
  width: 100%;
}

/*对比框*/
.compare-container {
  display: block;
  position: fixed;
  right: 20px;
  top: 100px;
  width: 100px;
  border: 1px solid #AAC5E9;
  color: #515254;
  font-size: 12px;
  background: #FDFFFE;
}

.compare-container .comp-title {
  background: #E2EDFA;
  border-bottom: 1px solid #AAC5E9;
  color: #000200;
  padding: 1px 3px;
  overflow: hidden;
}

.compare-container .comp-title span {
  float: left;
}

.compare-container .comp-title #close-comp {
  cursor: pointer;
  float: right;
}

.compare-container .comp-cont, .compare-container .comp-btns {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #AAC5E9;
  font-size: 12px;
}

.compare-container .comp-btns {
  border-bottom: none;

}

.compare-container .comp-btns .comp-btn {
  padding: 1px 10px;
  border-radius: 2px;
  text-align: center;
  background: #3178BA;
  border: 1px solid #006FB6;
  color: #F7FDFD;
  margin-bottom: 2px;
}

.compare-container .comp-btns .clear-btn {
  border: none;
  background: none;
  color: #2F74B8;
  margin-top: 2px;
}

.data-cont {
  position: relative;
}

.data-cont .pre-time, .data-cont .next-time {
  display: inline-block;
  position: absolute;
  top: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #515254;
  cursor: pointer;
}

.data-cont .pre-time {
  left: 20.1%;
}

.data-cont .next-time {
  right: 2px;
}

.mask_arrow {
  width: 100%;
  height: 38px;
  background: #FEFFFE;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}

/*图表样式_start*/
.statistics-chart {
  width: 100%;
  font-size: 12px;
  z-index: 99;
  margin-top: 20px;
  margin-bottom: -30px;
  height: 400px;
  position: relative;
}

.statistics-chart .chart-cont {
  height: 360px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: 0;
}

#year-chart {
  z-index: 99;
  opacity: 1;
  filter: alpha(opacity=1);
}

#report-chart {
  z-index: -99;
  opacity: 0;
  filter: alpha(opacity=0);
}

.statistics-chart .chart-tab {
  width: 100%;
  border-bottom: 1px solid #F1B9BA;
  font-size: 0;
}

.statistics-chart .chart-tab span {
  display: inline-block;
  padding: 6px 10px;
  color: #616261;
  text-align: center;
  border-radius: 1px;
  font-size: 12px;
  cursor: pointer;
}

.statistics-chart .chart-tab .active {
  background: #E7524F;
  color: #fff;
}

.legend {
  margin-top: 5px;
  overflow: hidden;
  margin-bottom: -40px;
  padding-right: 20px;
  color: #565756;
}

.legend .column1, .legend .column2, .legend .column3 {
  display: inline-block;
  float: right;
  padding: 0 5px;
  overflow: hidden;
}

.legend img {
  width: 12px;
  height: 10px;
  margin-right: 2px;
}

.legend .column1 span {
  width: 12px;
  height: 8px;
  display: inline-block;
  background: #60B5F7;
  border: 1px solid #48AEF4;
  margin-right: 5px;
}

.legend .column2 span {
  width: 12px;
  height: 8px;
  display: inline-block;
  background: #6F64B8;
  border: 1px solid #5C4DB4;
  margin-right: 5px;
}

.unknow-data {
  display: inline-block;
  width: 10px;
  height: 10px;
  line-height: 5px;
  text-align: center;
  border-radius: 50%;
  background: #000000;
  color: #B5B6B5;
  font-style: normal;
}

/*图表样式_end*/

/*历史数据弹框*/
.rank-container {
  width: 220px;
  border: 1px solid #9FBFE9;
  background: #FEFFFE;
  font-size: 12px;
  position: absolute;
  font-weight: normal;
  top: 0;
  left: 0;
  display: none;
}

.data-his-cont {
  width: 220px;
  border-bottom: 1px solid #EDEEED;
  border-radius: 2px;
  border-collapse: collapse;
  text-align: center;
  border-bottom: 1px solid #EDEEED;
}

.data-his-cont thead {
  width: 100%;
  background: #E3EDF9;
  border-bottom: 1px solid #9FBFE9;
  font-weight: 500;
  color: #5C5B5C;
  font-size: 12px;
}

.data-his-cont thead td {
  padding: 6px 0;
}

.data-his-cont tbody tr {
  font-size: 12px;
  overflow: hidden;
  padding: 4px 0;
  color: #5C5B5C;
}

.data-his-cont tbody td {
  padding: 5px 0;
}

.data-his-cont tbody tr:nth-child(even) {
  background: #F1F2F1;
}

.chart-main {
  width: 220px;
  height: 200px;
  overflow: hidden;
  margin: -40px 0 -30px 0;
}

.history-close {
  position: absolute;
  top: 0;
  right: 3px;
  display: inline-block;
  width: 10px;
  height: 10px;
  font-size: 12px;
  color: #6D6E70;
  z-index: 99;
  cursor: pointer;
}

/*异常数据显示提醒*/
.abnormal-info {
  min-width: 100px;
  padding: 5px 5px;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #DA6D77;
  background: #FDFFFE;
  z-index: 999999;
  display: none;
  white-space: nowrap;
}

/*预测数据弹框*/
.mask-data-container {
  position: absolute;
  top: 30px;
  left: 0;
  width: 410px;
  min-height: 408px;
  border: 1px solid #9FBFE9;
  background: #FEFFFE;
}

.mask-data-container .title-cont-chart {
  height: 30px;
  line-height: 30px;
  width: 100%;
  background: #E3EDF9;
  font-weight: 700;
  color: #5C5B5C;
  font-size: 0;
  overflow: hidden;
}

.mask-data-container .title-cont-chart div {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  width: 17%
}

.mask-data-container .title-cont-chart div:nth-child(1) {
  width: 35%;
}

.mask-data-container .title-cont-chart div:nth-child(3) {
  width: 20%;
}

.mask-data-container .title-cont-chart div:nth-child(4) {
  width: 15%;
}

.mask-data-container .title-cont-chart div:nth-child(5) {
  width: 13%;
}

.mask-data-container .title-cont-chart span {
  text-align: center;
}

.mask-data-container .title-cont-chart .rank {
  width: 20px;
  height: 20px;
  overflow: hidden;
  background: red;
  position: relative;
}

.mask-data-container .title-cont-chart .rank i {
  margin: 1px 1px;
  position: absolute;
  left: 1px;
  cursor: pointer;
}

.mask-data-container .title-cont-chart .rank .rank-up {
  top: 1px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #5B5C5B;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.mask-data-container .title-cont-chart .rank .up-plain {
  top: 1px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #ccc;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.mask-data-container .title-cont-chart .rank .down-plain {
  top: 9px;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.mask-data-container .title-cont-chart .rank .rank-down {
  top: 9px;
  border-top: 3px solid #5B5C5B;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.mask-data-container .data-cont-chart {
  width: 100%;
  min-height: 320px;
  border-radius: 3px;
  font-size: 0;
  padding-top: 5px;
  color: #5C5B5C;
}

.mask-data-container .data-cont-chart span {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  width: 18.5%;
}

.mask-data-container .data-cont-chart span:nth-child(1) {
  width: 35%;
}

.mask-data-container .data-cont-chart span:nth-child(3) {
  width: 20%;
}

.mask-data-container .data-cont-chart span:nth-child(4) {
  width: 8%;
}

.mask-data-container .data-cont-chart li span {
  font-size: 12px;
  font-weight: normal;
  padding: 5px 0;
}

.mask-data-container .data-cont-chart li .span-link {
  display: inline-block;
  padding: 0 4px;
  border: 1px solid #9BB7D8;
  background: #fff;
  color: #498BC3;
  border-radius: 2px;
  cursor: pointer;
}

.mask-data-container .data-cont-chart li .active {
  background: #3277B8;
  border: 1px solid #0064B2;
  color: #EDF5FA;
}

/*分页*/
.page-container {
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  display: inline-block;
  text-align: center;
}

.page-container .page-num {
  border: solid thin #D8DAD8;
  margin-bottom: 10px;
  display: inline-block;
  padding: 1px 0;
  width: 20px;
  text-align: center;
  margin-left: -1px;
  cursor: pointer;
  background: #fff;
  color: #2D82CC;
}

.page-container .page-num:first-child {
  border-radius: 1px;
}

.page-container .selected {
  border: solid thin #0099FF;
  background-color: #0099FF;
  color: white;
}

.mask-data-container .chart-container {
  width: 100%;
  min-height: 380px;
  color: #4B4C4B;
  font-size: 12px;
  position: relative;
  overflow: hidden;
}

.mask-data-container .chart-container .close-data-mask, .all-data-cont .close-data-mask {
  position: absolute;
  top: -3px;
  right: 6px;
  display: inline-block;
  width: 5px;
  height: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #969798;
  z-index: 999;

}

.mask-data-container .chart-container .to-word {
  position: absolute;
  top: 6px;
  right: 30px;
  width: 36px;
  height: 14px;
  float: right;
  cursor: pointer;
  z-index: 9999;
}

.mask-data-container .chart-container .to-word a {
  z-index: 9999;
}

.chart-title {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.point-chart {
  position: absolute;
  top: 0;
  left: 10px;
}

.all-data-cont {
  position: relative;
  min-height: 380px;

}

.download-cont {
  width: 60px;
  position: absolute;
  bottom: 18px;
  right: 10px;
  cursor: pointer;
}

.download-cont img {
  width: 12px;
  height: 15px;
  display: inline-block;
  float: left;
}

.download-cont span {
  display: inline-block;
  color: #676867;
}

.data-table .unknow-init, .data-table .forecase-init, .data-table .normal-init {
  cursor: pointer;

}

.data-table .forecase-init {
  color: #6364FC;
}
