* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background-image: url("/static/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (min-width: 500px) {
  .temp-container {
    width: 495px;
  }

  .temp-container img {
    width: 130px;
    height: 130px;
  }

  .temp-container .top-title {
    font-size: 32px
  }

  .search-header .temp-inp {
    width: 387px;
    height: 35px;
    line-height: 35px;
  }

  .search-header .out-search-btn {
    width: 100px;
    height: 35px;
    line-height: 35px;
  }

  .res-list {
    width: 391px;

  }

  .temp-container .top-title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  .temp-container {
    width: 300px;
  }

  .temp-container img {
    width: 90px;
    height: 90px;
  }

  .temp-container .top-title {
    font-size: 24px
  }

  .search-header .temp-inp {
    width: 220px;
    height: 30px;
    line-height: 30px;
  }

  .search-header .out-search-btn {
    width: 70px;
    height: 30px;
    line-height: 30px;
  }

  .res-list {
    width: 297px;
  }

  .temp-container .top-title {
    margin-bottom: 20px;
  }
}

.temp-container {
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 99;
}

.temp-container .comp-cont {
  width: 200px;
  height: 50px;
  overflow: hidden;
  margin: 50px auto;
}

.temp-container .comp-cont a {
  font-size: 13px;
  border: 1px solid #9E9D9E;
  color: #9E9D9E;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
}

.temp-container .comp-cont a:first-child {
  float: left;
}

.temp-container .comp-cont a:last-child {
  float: right;
}

.footer-container {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #323332;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #E3E4E3;
  font-size: 14px;
  text-align: center;
}

.temp-container img {
  margin-top: 100px;
  margin-bottom: 30px;
}

.temp-container .top-title {
  width: 100%;
  font-weight: 400;
  color: #FEFFFE;
}

.temp-container i {
  font-style: normal;
}

.search-header {
  width: 100%;
  overflow: hidden;
}

.search-header .temp-inp {
  padding-left: 3px;
  border: 1px solid #FEFFFE;
  color: #FEFFFE;
  float: left;
  background: transparent;
  -webkit-appearance: none;
  border-radius: 0;
}

.search-header .out-search-btn {
  background: #2479BB;
  color: #FEFFFE;
  border: 1px solid #006CB6;
  border-radius: 1px;
  text-align: center;
  float: left;
  text-decoration: none;
  font-weight: 300;
}

.res-list {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 12px;
  border: 1px solid #DCDDDC;

  margin-top: 1px;
  box-shadow: 0 1px 1px 1px #E7E8E7;
  color: #686968;
  background: #FEFFFE;
}

.res-list tbody td {
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
}

.res-list tbody td a {
  text-decoration: none;
  color: #717271;
}

.res-list tbody td a:link {
  color: #717271;
}

.res-list tbody td a:visited {
  color: #717271;
}

.res-list tbody td a:hover {
  color: #717271;
}

.res-list tbody td a:active {
  color: #717271;
}

.res-list tbody tr:hover {
  background: #E4EEF9;
}

.res-list tbody tr span {
  padding: 0 4px 1px 4px;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  -webkit-transform: scale(0.90);
  -moz-transform: scale(0.90);
  -ms-transform: scale(0.90);
  -o-transform: scale(0.90);
  transform: scale(0.90);
  cursor: pointer;
}

.report-btn {
  background: #E7524E;
  color: #FDF2F2;
}

.finance-btn {
  background: #49535E;
  color: #E6E8EA;
}

.search-btn {
  background: #0079BA;
  color: #EDF6FA;
}



