* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background: #FEFFFE;
}

.temp-container {
  margin: 0 auto;
  width: 495px;
  text-align: center;
  position: relative;

}
.footer-container{
  width: 100%;
  height: 35px;
  line-height: 35px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #323332;
  color: #E3E4E3;
  font-size: 14px;
  text-align: center;
}

.temp-container img {
  width: 142px;
  height: 142px;
  margin-top: 100px;
}

.temp-container .top-title {
  width: 100%;
  font-size: 30px;
  font-weight: 400;
  color: #3E3F3E;
  margin-bottom: 30px;
}

.temp-container i {
  font-style: normal;
}

.search-header {
  width: 100%;
  overflow: hidden;
}

.search-header .temp-inp {
  width: 387px;
  height: 35px;
  line-height: 35px;
  padding-left: 3px;
  border: 1px solid #DCDDDC;
  color: #666766;
  float: left;
}

.search-header .out-search-btn {
  width: 100px;
  height: 35px;
  line-height: 35px;
  background: #2479BB;
  color: #FEFFFE;
  border: 1px solid #006CB6;
  border-radius: 1px;
  text-align: center;
  float: left;
  text-decoration: none;
  font-weight: 300;
}

.res-list {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 12px;
  border: 1px solid #DCDDDC;
  width: 100%;
  margin-top: 1px;
  box-shadow: 0 1px 1px 1px #E7E8E7;
  color: #686968;
  background: #FEFFFE;

}

.res-list tbody td {
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
}

.res-list tbody td a {
  text-decoration: none;
  color: #717271;
}

lvha
.res-list tbody td a:link {
  color: #717271;
}

.res-list tbody td a:visited {
  color: #717271;
}

.res-list tbody td a:hover {
  color: #717271;
}

.res-list tbody td a:active {
  color: #717271;
}

.res-list tbody tr:hover {
  background: #E4EEF9;
}

.res-list tbody tr span {
  padding: 0 4px 1px 4px;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  -webkit-transform: scale(0.90);
  -moz-transform: scale(0.90);
  -ms-transform: scale(0.90);
  -o-transform: scale(0.90);
  transform: scale(0.90);
  cursor: pointer;
}

.report-btn {
  background: #E7524E;
  color: #FDF2F2;
}

.finance-btn {
  background: #49535E;
  color: #E6E8EA;
}

.search-btn {
  background: #0079BA;
  color: #EDF6FA;
}



