<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智能图表PDF</title>
    <link rel="stylesheet" href="/static/css/pageForPDF.css">
</head>
<body>
<div class="container">
    <h3 class="header-title">平安银行(000001)</h3>
    <!--上半部分数据_start-->
    <div class="top-container">
        <!--左侧表格数据_start-->
        <div class="table-left">
            <!--财务信息表_start-->
            <table class="finance-container">
                <thead>
                <td colspan="6">财务信息</td>
                </thead>
                <tbody>
                <tr class="t-title">
                    <td>关键指标</td>
                    <td>营业收入增长率</td>
                    <td>16A</td>
                    <td>17E</td>
                    <td>18E</td>
                    <td>19E</td>
                </tr>
                </tbody>
            </table>
            <!--财务信息表_end-->


            <!--行业对比表_start-->
            <table class="comp-prepare">

            </table>
            <!--行业对比表_end-->
        </div>
        <!--左侧表格数据_end-->


        <!--右侧图表和新闻_start-->
        <div class="right-chart-news">
            右侧内容

        </div>
        <!--右侧图表和新闻_end-->
    </div>
    <!--上半部分数据_end-->


    <!--下半部分脑图_start-->
    <div class="brain-container"></div>
    <!--下半部分脑图_end-->
</div>

</body>
</html>