{% extends 'pages/base_common.html' %}
{% block css %}
{% endblock %}

{% block title %}
{{ stock_code }}指标详情
{% endblock %}

{% block container %}


<!--右侧新闻_start-->
<!--顶部标题/搜索_start-->
<div class="header-title">
    <div>
        <span id="stock-title"><i></i>({{ stock_code }})&nbsp;</span>/&nbsp;指标详细
    </div>
    <div class="header-search">
        <span id="search-relative">找相关</span>
        <input type="text" id="search-inp">
    </div>
</div>
<!--顶部标题/搜索_end-->

<!--图表_start-->
<div class="statistics-chart">
    <!--按年度的tab-->
    <div class="chart-tab" id="year-chart-tab">
    </div>
    <!--按报告期的tab-->
    <div class="chart-tab" id="report-chart-tab" style="display:none">
    </div>
    <div class="legend">
        <div class="column3"><img src="/static/images/legend.png" alt="">行业排名</div>
        <div class="column2"><span></span><i style="font-style: normal" class="legend-next">预测数据</i></div>
        <div class="column1"><span></span><i style="font-style: normal" class="legend-pre">历史数据</i></div>
    </div>
    <!--按年度的图表container-->
    <div class="chart-cont" id="year-chart">
    </div>
    <!--按报告期的图表container-->
    <div class="chart-cont" id="report-chart">
    </div>
</div>
<!--图表_end-->


<!--tab_start-->
<div class="kind-tab" id="kind-tab">
    <div style="overflow: hidden">
        <div class="left-group">
            <span class="active">按年度</span>
            <span>按报告期</span>
        </div>
        <div class="right-group">
            <span class="active" id="export-btn">导出数据</span>
            <!--<span>加入对比</span>-->
            <!--导出数据弹框-->
        </div>
    </div>

    <ul class="export-container">
        <li class="export-csv"><a href="">CSV格式</a></li>
        <li class="export-excel"><a href="">Excel格式</a></li>
    </ul>
</div>
<!--tab_end-->


<!--数据_start-->
<div class="data-cont">
    <!--历史排名弹框_start-->
    <div class="rank-container ">
        <span class="history-close">&times;</span>
        <table class="data-his-cont">
            <thead class="rank-title">
            <td>时间</td>
            <td>数值</td>
            </thead>
            <tbody class="rank-content ">
            <!--<tr>-->
            <!--<td>07Q1</td>-->
            <!--<td>118</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>07Q1</td>-->
            <!--<td>118</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>07Q1</td>-->
            <!--<td>118</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>07Q1</td>-->
            <!--<td>118</td>-->
            <!--</tr>-->
            </tbody>
        </table>

        <div class="chart-main" id="main" style="width: 200px;height:200px;"></div>

    </div>
    <!--历史排名弹框_end-->


    <!--预测弹框_start-->
    <div class="mask-data-container" style="display: none;">
        <!--文字内容_start-->
        <div class="all-data-cont" style="display: none">
            <span class="close-data-mask">&times;</span>
            <div class="title-cont-chart">
                <div>分析师(公司名称)</div>
                <div>
                    时间
                    <span class="rank">
                        <i id="time-up" class="rank-up"></i>
                        <i id="time-down" class="down-plain"></i>
                    </span>
                </div>
                <div>
                    数值
                    <span class="rank">
                        <i id="val-up" class="rank-up"></i>
                        <i id="val-down" class="down-plain"></i>
                    </span>
                </div>
                <div id="toChart" class="toChart"><a href="javascript:;">图表</a></div>
            </div>
            <ul class="data-cont-chart" id="data-cont-chart-0">
            </ul>
            <div class="page-container" id="page-container-0">
            </div>
            <div class="download-cont"><a id="expForecastData" href="" target="_blank"><img
                    src="/static/images/download.png" alt=""><span>导出数据</span></a></div>
        </div>
        <!--文字内容_end-->

        <!--图表_start-->
        <div class="chart-container" style="display: block;">
            <span class="close-data-mask">&times;</span>
            <div class="to-word">
                <a href="javascript:;">文字版</a>
            </div>
            <h4 class="chart-title"></h4>
            <div class="point-chart" id="point-cont" style="width: 400px;height:400px;"></div>
        </div>
        <!--图表_end-->
    </div>
    <!--预测弹框_start-->


    <!--左右切换年份_start-->
    <span class="pre-time" id="year-pre-time" style="display: block">&lt;</span>
    <span class="next-time" id="year-next-time" style="display: block">&gt;</span>
    <!--左右切换年份_end-->


    <!--左右切换报告期_start-->
    <span class="pre-time" id="report-pre-time" style="display: none">&lt;</span>
    <span class="next-time" id="report-next-time" style="display: none">&gt;</span>
    <!--左右切换报告期_end-->


    <!--切换箭头的遮罩层 数据请求回来后隐藏-->
    <div class="mask_arrow"></div>


    <!--表格数据_start-->
    <div class="data-table" style="display: block" id="year-data">
    </div>
    <div class="data-table" style="display: none" id="report-data">
    </div>
    <!--表格数据_end-->
</div>
<!--数据_end-->

<!--右侧新闻_end-->
{% endblock %}

{% block js %}
<script src="/static/js/inputSearch.js"></script>
<script src="/static/js/echarts.min.js"></script>
<script src="/static/js/Pagination.js"></script>

<!--上半部分-->
<script>
  // 按年度
  getDataInitDom('year');

  // 按报告期
  getDataInitDom('report');


  // 获取数据并且渲染tab、图表
  function getDataInitDom(kind) { // kind区分year report
    $.ajax({
      type: 'GET',
      url: 'http://api-pro.xin-shui.com/api/research/forecast/picked/?code={{stock_code}}&report_type=' + kind,
      success: function (res) {
        var rows_title = res.data.rows_title;
        var rows_data = res.data.rows_data;
        var titlesArr = []; // 每组数据的标题数组
        var columsDatas = [];
        var titles = res.data.cols_title; // 图表底部标题
        $.each(rows_title, function (index, item) {
          titlesArr.push(index);
          columsDatas.push(rows_data[index]);// 按报告期的柱状图数据
        });
        // 生成容器
        var obj = {};
        obj[kind] = titlesArr;
        initTopCon(obj);
        // 生成颜色列表
        var temp = [];
        var colors = [];
        $.each(rows_data, function (index, item) {
          temp = rows_data[index]
        });
        $.each(temp, function (index, item) {
          item.status === 'normal' ? colors.push('#62B4F5') : colors.push('#6F64BA');
        });

        // 处理柱状图数据
        var ratiosArr = [];
        var ranksArr = [];
        $.each(columsDatas, function (index, item) {
          ratiosArr.push([]);
          ranksArr.push([]);
          $.each(item, function (ind, ite) {
            ratiosArr[index].push(ite.value);
            ranksArr[index].push(ite.rank);
          })
        });

        // 生成图表
        $.each(columsDatas, function (index, item) {
          var context = kind + '-chart-' + index;
          topRankChart(context, titles, colors,titlesArr[index], ratiosArr[index],ranksArr[index]);
        });
      },
      error: function (e) {
        console.log(e);
      }
    });
  }

  // 生成tab和容器
  function initTopCon(data) { //{year:['毛利润','营业增速'],report:[]}
    if (data.year && data.year.length) {
      var yearStr = '';
      var yearCont = '';
      $.each(data.year, function (index, item) {
        index === 0 ? yearStr += '<span class="active">' + item + '</span>' : yearStr += '<span>' + item + '</span>';
        yearCont += '<div id="year-chart-' + index + '" class="chart_year" style="height: 360px;width: 100%" ></div>';

      });
      $('#year-chart-tab').html(yearStr);
      $('#year-chart').html(yearCont);
    }





    if (data.report && data.report.length) {
      var reportStr = '';
      var reportCont = '';
      $.each(data.report, function (index, item) {
        index === 0 ? reportStr += '<span class="active">' + item + '</span>' : reportStr += '<span>' + item + '</span>';
        reportCont += '<div id="report-chart-' + index + '" class="chart_report" style="height: 360px;width: 100%" ></div>';
      });
      $('#report-chart-tab').html(reportStr);
      $('#report-chart').html(reportCont);
    }
    // 生成tab和容器后調用 切換tab
    changeTopTab();




  }

  // 顶部柱状图和折线图
  function topRankChart(context, titles, colors,y_name, ratios, ranks) {
    // context, titles, colors,y_name,ratios,ranks  容器 标题 颜色 y轴名称 条形图数据  折线图数据
    var context = echarts.init(document.getElementById(context));
//    var min = Math.min.apply(null, ratios);
//    var max = Math.max.apply(null, ratios);
//
//    min % 9 === 0 ? null : (min < 0 ? min = (parseInt(min / 9) - 1) * 9 : min = parseInt(min / 9) * 9);
//    max % 9 === 0 ? null : (max > 0 ? max = (parseInt(max / 9) + 1) * 9 : max = (parseInt(max / 9) - 1) * 9);
//    var interval = (max - min) / 9;

    //配置及数据
    optionWeek = {
      tooltip: {
        show: true,
        trigger: 'axis',
        textStyle:{
          fontSize:10
        },
        formatter: function (datas) {
          var res = '';
          res += datas ? datas[0].axisValueLabel+'</br>' : '';
          res += y_name + ':' + datas[0].value + '</br>';
          res += (datas[1].value)?'排名:' + (datas[1].value * 100).toFixed(0) + '%' + '</br>':'';
          return res;
        }
      },
      xAxis: [
        {
          type: 'category',
          data: titles,
          axisPointer: {
            type: 'shadow'
          },
          axisTick: {
            show: false
          },
          splitLine: {
            show: true
          },
        }
      ],
      yAxis: [
        {
          type: 'value',
          name: y_name,
//          axisLabel: {
//            formatter: '{value} %'
//          },
          axisTick: {
            show: false
          },
          axisLine: {
            lineStyle: {
              shadowOffsetY: -10,
            }
          }
        },
        {
          nameLocation: 'start',

          type: 'value',
          inverse: true,
          name: '排名',
          min: 0,
          max: 1,
          interval: 0.1,
          axisLabel: {
            show: true,
            formatter: function (value) {
              var val = '';
              if (value === 0) {
                val = '';
              } else if (value === 0.1) {
                val = '前' + value * 100 + '%';
              } else if (value === 0.5) {
                val = '前' + value * 100 + '%';
              } else if (value === 1) {
                val = '前' + value * 100 + '%';
              } else {
                val = value * 100 + '%';
              }
              return val;
            }
          },
          axisTick: {
            show: false
          },
          axisLine: {
            lineStyle: {
              shadowOffsetY: -10,
            }
          },
          splitLine: {
            show: false
          }
        }
      ],
      series: [
        {
          name: '毛利率',
          type: 'bar',
          data: ratios,
          itemStyle: {
            normal: {
              color: function (params) {
                var colorList = colors;
                return colorList[params.dataIndex]
              }
            }
          },
          barWidth: 20
        },
        {
          name: '行业排名',
          type: 'line',
          data: ranks,
          yAxisIndex: 1,
          itemStyle: {
            normal: {
              color: '#E4190D',
              lineStyle: {
                color: '#E4190D',
                width: 1
              }
            }
          }
        }
      ]
    };
    // 使用刚指定的配置项和数据显示图表。
    context.setOption(optionWeek);
  }

  // 切換tab和圖表
  function changeTopTab() {
    // 按年度 切换上面图表tab
    $('#year-chart-tab span').click(function () {
      $(this).addClass('active').siblings().removeClass('active');
      $('.chart-cont .chart_year').eq($(this).index()).show().siblings('.chart_year').hide();
      // 获取当前tab内容值

    });

    // 按报告期 切换上面图表tab
    $('#report-chart-tab span').click(function () {
      $(this).addClass('active').siblings().removeClass('active');
      $('.chart-cont .chart_report').eq($(this).index()).show().siblings('.chart_report').hide();
    });
  }


</script>
<!--下半部分-->
<script>
  $(function () {
    var fix_url = 'http://api-pro.xin-shui.com';
//    var token = util.getCookie('token');
    // var token = '5b2d5bcda394d1247069b53dff32d304';
    var countTri = 0; // 三角形点击次数
    // 按年度  按季度 表格显示开始和数据总长度
    var start_year = 3;
    var len_year = 7;
    var start_report = 4;
    var len_report = 8;
    // 保存导出链接
    var exportLink = [{csv: '', excel: ''}, {csv: '', excel: ''}]; // 0按年度  1按报告期
    // 数据存放(分页数据，预测数据)
    var pageData = {
      all: [], //原始
      all0: [], // 时间降（最新到以前）  数值降（up up）
      all1: [], // 时间降  数值升 (down up)
      all2: [], // 时间升（以前到最新）  数值降 (up down)
      all3: [], // 时间升  数值升 (down down)
      all4:[],
      all5:[],
      all6:[],
      all7:[],
      dataList: [],
      total: 0,
      analystsData: {},
      line_data: []
    };
    var stock_name = '';
    var cur_title = '';
    var total_year = 0;
    var total_report = 0;


    // 左右tab切换（按年度/按报告期）
    $('.left-group span').click(function () {
      $(this).addClass('active').siblings().removeClass('active');
      $('.data-table').eq($(this).index()).show().siblings('.data-table').hide();
      // 控制哪一组箭头显示
      $('.pre-time').eq($(this).index()).show().siblings('.pre-time').hide();
      $('.next-time').eq($(this).index()).show().siblings('.next-time').hide();
      // 控制上面图表的tab
      $('.chart-tab').eq($(this).index()).show().siblings('.chart-tab').hide();
      // 控制上面图表哪组显示
//      $('.chart-cont').eq($(this).index()).show().siblings('.chart-cont').hide();
      $('.chart-cont').eq($(this).index()).css('opacity', 1).css('z-index', 99).siblings('.chart-cont').css('opacity', 0).css('z-index', -99);
      // 更改导出链接
      $('.export-csv a').prop('href', exportLink[$(this).index()].csv);
      $('.export-excel a').prop('href', exportLink[$(this).index()].excel);
      // 隐藏弹框
      $('.rank-container').hide();
      $('.mask-data-container').hide();
    });

    // 导出数据
    $('#export-btn').click(function () {
      $('.export-container').toggle();
      if ($('.export-container')[0]) {
        $('.export-container').click(function (e) {
          // console.log(e.target.innerHTML);
          // 获取相应的值 进行操作
          // xxxxxxxxxxxx
          $('.export-container').hide();
        })
      }
    });

    // 按年度数据
    $.ajax({
      type: 'GET',
      url: 'http://api-pro.xin-shui.com/api/research/forecast/year/',
      data: {
        code: '{{ stock_code }}',
        // token: token
      },
      success: function (res) {
        // 替换标题
        var nameSpan = $('#stock-title');
        var val = nameSpan.html();
        val = val.replace(/<i><\/i>/g, res.stock_name);
        $('title').html('指标详情（' + res.stock_name + '）');
        stock_name = res.stock_name;
        // 按年度保存并且修改导出链接
        exportLink[0].csv = res.export_csv;
        exportLink[0].excel = res.export_excel;
        $('.export-csv a').prop('href', res.export_csv);
        $('.export-excel a').prop('href', res.export_excel);
        total_year = res.table_data.length || 0;
        // 生成表格容器
        createTableContainer('year-data', total_year);

        // 表格中填数据
        $.each(res.table_data, function (index, item) {
          len_year = item.cols_title.length;
          start_year = len_year - 4;
          $('.mask_arrow').hide();
          initTable('#year-data-', item, index);
        });
        // 初始化表格后给每一个td绑定事件
        clickTdInit();
      },
      error: function (e) {
//        window.location.href = '/login';
        console.log(e)
      }
    });

    // 按报告日期
    $.ajax({
      type: 'GET',
      url: 'http://api-pro.xin-shui.com/api/research/forecast/report/',
      data: {
        code: '{{ stock_code }}',
        // token: token
      },

      success: function (res) {
        var nameSpan = $('#stock-title');
        var val = nameSpan.html();
        val = val.replace(/<i><\/i>/g, res.stock_name);
        nameSpan.html(val);
        // 按报告期 保存导出链接
        exportLink[1].csv = res.export_csv;
        exportLink[1].excel = res.export_excel;
        total_report = res.table_data.length || 0;
        // 生成表格容器
        createTableContainer('report-data', total_report);
        // 表格中填数据
        $.each(res.table_data, function (index, item) {
          len_report = item.cols_title.length;
//          start_report = 1;
          start_report = len_report - 4;
          initTable('#report-data-', item, index);
          $('.mask_arrow').hide();
        });
        // 初始化表格后给每一个td绑定事件
        clickTdInit();
      },
      error: function (e) {
        console.log(e)
      }
    });

    // 渲染表格数据   初始化表格后给每一个td绑定事件
    function initTable(fixId, data, ind) { // fixId  id的前缀  '#year-data-'
      if (data.cols_title && data.cols_title.length) { // 说明有数据
        // 渲染表头
        data.cols_title.unshift(data.name);
        var titles = data.cols_title;
        var rows_title = data.rows_title;
        var titleStr = '';
        if (fixId === '#year-data-' || fixId === '#report-data-') {
          $.each(titles, function (index, item) {
            if (index === 0) {
              titleStr += '<td class="first-col"  style="color:#FD2F30">' + item + '</td>';
            } else if (index < titles.length - 5) { // 13组数据显示后5列
              titleStr += '<td style="display: none;">' + item + '</td>';
            } else {
              titleStr += '<td>' + item + '</td>';
            }
          });
        }
//        else {
//          $.each(titles, function (index, item) {
//            if (index === 0) {
//              titleStr += '<td class="first-col" style="color:#FD2F30">' + item + '</td>';
//            } else if (index > 5) { // 13组数据显示后5列
//              titleStr += '<td style="display: none;">' + item + '</td>';
//            } else {
//              titleStr += '<td>' + item + '</td>';
//            }
//          });
//        }

        $(fixId + ind + ' thead').html(titleStr);

        // 主体表格数据
        var str = '';
        if (fixId === '#year-data-' || fixId === '#report-data-') {
          $.each(data.rows_data, function (index, item) {
            str += '<tr>';
            str += '<td class="first-col" data-title=' + rows_title[index] + '>' + index + '</td>'; // 第一列
            $.each(item, function (ind, ite) {
              if (ind < titles.length - 6) { // 13组数据显示后5列
                if (ite.status === 'normal') {
                  if (ite.abnormal === 'normal') {
                    str += '<td data-val="' + ite.value + '"  style="display: none;" class="normal-init">' + ite.value_format + '</td>';

                  }
                  if (ite.abnormal === 'red') {
                    str += '<td data-val="' + ite.value + '"  style="display: none;color: #F73F3D;" class="normal-init">' + ite.value_format + '</td>';
                  }
                  if (ite.abnormal === 'green') {
                    str += '<td data-val="' + ite.value + '"  style="display: none;color: #4FFC51;" class="normal-init">' + ite.value_format + '</td>';
                  }

                }
                if (ite.status === 'forecase') {
                  if (ite.abnormal === 'normal') {
                    str += '<td data-val="' + ite.value + '"  style="display: none;" class="forecase-init">' + ite.value_format + '</td>';

                  }
                  if (ite.abnormal === 'red') {
                    str += '<td data-val="' + ite.value + '"  style="display: none;color: #F73F3D;" class="forecase-init">' + ite.value_format + '</td>';
                  }
                  if (ite.abnormal === 'green') {
                    str += '<td data-val="' + ite.value + '"  style="display: none;color: #4FFC51;" class="forecase-init">' + ite.value_format + '</td>';
                  }
                }
                if (ite.status === 'unknow') {
//                  str += '<td data-val="' + ite.value + '" style="display: none;" class="unknow-init"><i class="unknow-data">..</i></td>';
                  str += '<td data-val="' + ite.value + '"  style="display: none;" >' + ite.value_format + '</td>';

                }
              } else {
                if (ite.status === 'normal') {
                  if (ite.abnormal === 'normal') {
                    str += '<td data-val="' + ite.value + '"  class="normal-init">' + ite.value_format + '</td>';

                  }
                  if (ite.abnormal === 'red') {
                    str += '<td data-val="' + ite.value + '"  style="color: #F73F3D;" class="normal-init">' + ite.value_format + '</td>';
                  }
                  if (ite.abnormal === 'green') {
                    str += '<td data-val="' + ite.value + '"  style="color: #4FFC51;" class="normal-init">' + ite.value_format + '</td>';
                  }

                }
                if (ite.status === 'forecase') {
                  if (ite.abnormal === 'normal') {
                    str += '<td data-val="' + ite.value + '"   class="forecase-init">' + ite.value_format + '</td>';

                  }
                  if (ite.abnormal === 'red') {
                    str += '<td data-val="' + ite.value + '"  style="color: #F73F3D;" class="forecase-init">' + ite.value_format + '</td>';
                  }
                  if (ite.abnormal === 'green') {
                    str += '<td data-val="' + ite.value + '"  style="color: #4FFC51;" class="forecase-init">' + ite.value_format + '</td>';
                  }
                }
                if (ite.status === 'unknow') {
//                  str += '<td data-val="' + ite.value + '"  class="unknow-init"><i class="unknow-data">..</i></td>';
                  str += '<td data-val="' + ite.value + '"   >' + ite.value_format + '</td>';
                }
              }
            });
            str += '</tr>';
          });
        }
//        else {
//          $.each(data.rows_data, function (index, item) {
//            str += '<tr>';
//            str += '<td class="first-col" data-title=' + rows_title[index] + '>' + index + '</td>'; // 第一列
//            $.each(item, function (ind, ite) {
//              if (ind < 5) { // 前5列显示
//                str += ite.status === 'unknow' ? '<td data-val="' + ite.value + '"  class="unknow-init"><i class="unknow-data">..</i></td>' : (ite.status === 'forecase' ? '<td  data-val="' + ite.value + '"  class="forecase-init" style="color:#6364FC;">' + ite.value_format + '</td>' : '<td   data-val="' + ite.value + '"  class="normal-init">' + ite.value_format + '</td>')
//              } else {
//                str += ite.status === 'unknow' ? '<td data-val="' + ite.value + '" style="display: none;" class="unknow-init"><i class="unknow-data">..</i></td>' : (ite.status === 'forecase' ? '<td data-val="' + ite.value + '"  style="display: none;color:#6364FC;" class="forecase-init">' + ite.value_format + '</td>' : '<td data-val="' + ite.value + '"  style="display: none;" class="normal-init">' + ite.value_format + '</td>')
//              }
//            });
//            str += '</tr>';
//          });
//        }

        $(fixId + ind + ' tbody').html(str);


        // 初始化 箭头右边不可点
        var len = 0;
        var start = 0;
        var fix_id = null;
        if (fixId === '#year-data-' || fixId === '#report-data-') {
          len = titles.length - 1;
          start = len - 4;
          fix_id = fixId.split('-')[0];
          if (start > 1 && start + 4 < len) {
            $(fix_id + '-next-time').css('color', '#515254');
            $(fix_id + '-next-time').css('cursor', 'pointer');
            $(fix_id + '-pre-time').css('color', '#515254');
            $(fix_id + '-pre-time').css('cursor', 'pointer');
          }
          if (start <= 1) {
            $(fix_id + '-pre-time').css('color', '#ccc');
            $(fix_id + '-pre-time').css('cursor', 'not-allowed');
          }
          if (start + 4 >= len) {
            $(fix_id + '-next-time').css('color', '#ccc');
            $(fix_id + '-next-time').css('cursor', 'not-allowed');
          }
        }
//        else {
//          len = titles.length - 1;
//          start = 0;
//          fix_id = fixId.split('-')[0];
//          if (start > 1 && start + 4 < len) {
//            $(fix_id + '-next-time').css('color', '#515254');
//            $(fix_id + '-next-time').css('cursor', 'pointer');
//            $(fix_id + '-pre-time').css('color', '#515254');
//            $(fix_id + '-pre-time').css('cursor', 'pointer');
//          }
//          if (start <= 1) {
//            $(fix_id + '-pre-time').css('color', '#ccc');
//            $(fix_id + '-pre-time').css('cursor', 'not-allowed');
//          }
//          if (start + 4 >= len) {
//            $(fix_id + '-next-time').css('color', '#ccc');
//            $(fix_id + '-next-time').css('cursor', 'not-allowed');
//          }
//        }

      } else {
        console.log('无数据')
      }
    }

    // 按年度  按报告期生成 表格的容器  year-data-0 -----report-data-0
    function createTableContainer(fixId, len) { // fixId:year-data  **没有- #
      var str = '';
      for (var i = 0; i < len; i++) {
        str += '<table class="table-container" id=' + fixId + '-' + i + '>';
        str += '<thead>';
        str += '</thead>';
        str += '<tbody>';
        str += '</tbody>';
        str += '</table>';
      }
      $('#' + fixId).html(str);
    }

    // 左右切换表格年份公共方法
    function switchHead(fixId, total, start, len) {
      // fixId表的前缀名  total表的个数  start现在显示开始位置  len表头长度（需要去除第一列）
      // 左右切换箭头样式
      for (var i = 0; i < total; i++) { // 遍历拼接id
        // 当前 start-start+4
        for (var j = 1; j < len + 1; j++) {
          if (j < start) {
            $(fixId + i + ' thead').find('td').eq(j).hide();
            $(fixId + i + ' tbody tr').each(function (index, item) {
              $(item).find('td').eq(j).hide();
            });
          } else if (j > (start + 4)) {
            $(fixId + i + ' thead').find('td').eq(j).hide();
            $(fixId + i + ' tbody tr').each(function (index, item) {
              $(item).find('td').eq(j).hide();
            });
          } else {
            $(fixId + i + ' thead').find('td').eq(j).show();
            $(fixId + i + ' tbody tr').each(function (index, item) {
              $(item).find('td').eq(j).show();
            });
          }
        }
      }
    }

    // 按年度 切换上一个
    $('#year-pre-time').click(function () {
      if (start_year >= 0 && start_year + 4 <= len_year) {
        $('#year-next-time').css('color', '#515254');
        $('#year-next-time').css('cursor', 'pointer');
      }
      if (start_year > 1) {
        start_year--;
        switchHead('#year-data-', total_year, start_year, len_year);
      } else {
        console.log('已经是最前了');
        start_year = 0;
        $('#year-pre-time').css('color', '#ccc');
        $('#year-pre-time').css('cursor', 'not-allowed');
        return false;
      }
    });

    // 按年度 切换下一个
    $('#year-next-time').click(function () {
      if (start_year >= 0 && start_year + 4 <= len_year) {
        $('#year-pre-time').css('color', '#515254');
        $('#year-pre-time').css('cursor', 'pointer');
      }
      if (start_year + 4 < len_year) {
        start_year++;
        switchHead('#year-data-', total_year, start_year, len_year);
      } else {
        console.log('已经是最后了');
        start_year = len_year - 4;
        $('#year-next-time').css('color', '#ccc');
        $('#year-next-time').css('cursor', 'not-allowed');
        return false;
      }
    });


    // 按报告期 切换上一个
    $('#report-pre-time').click(function () {
      if (start_report >= 0 && start_report + 4 <= len_report) {
        $('#report-next-time').css('color', '#515254');
        $('#report-next-time').css('cursor', 'pointer');
      }
      if (start_report > 1) {
        start_report--;
        switchHead('#report-data-', total_report, start_report, len_report);
      } else {
        console.log('已经是最前了');
        start_report = 0;
        $('#report-pre-time').css('color', '#ccc');
        $('#report-pre-time').css('cursor', 'not-allowed');
        return false;
      }
    });

    // 按报告期 切换下一个
    $('#report-next-time').click(function () {
      if (start_report >= 0 && start_report + 4 <= len_report) {
        $('#report-pre-time').css('color', '#515254');
        $('#report-pre-time').css('cursor', 'pointer');
      }
      if (start_report + 4 < len_report) {
        start_report++;
        console.log('一直加');
        switchHead('#report-data-', total_report, start_report, len_report);
      } else {
        console.log('已经是最后了');
        $('#report-next-time').css('color', '#ccc');
        $('#report-next-time').css('cursor', 'not-allowed');
        return false;
      }
    });


    // 查找相关
    $('#search-relative').click(function () {
      var q = $('#search-inp').val();
      if (q) {
        window.location.href = '/forecast/more/?q=' + stock_name + q + '&ct=search&stock_name=' + stock_name;
      }
    });


    // 点击某一个td触发事件 弹框 unknown forecase normal
    function clickTdInit() {
      // 未知的预测数据
      function unknowEvent() {
        var q = $(this).parent().find('.first-col').html();
        window.location.href = '/forecast/more/?q=' + stock_name + q + '&stock_name=' + stock_name + '&ct=research';
      }
      $('.data-cont').off('click');
      $('.unknow-init').on('click',unknowEvent);

      // 按年度显示预测弹框
      function foreEven() {
        console.log('被执行');
        cur_title = $(this).parent().find('.first-col').html();
        $('.chart-title').html(cur_title);
        var parentId = $(this).parent().parent().parent().prop('id');
        // 位置设置
        $('.mask-data-container').show();
        // 默认显示图表页
        $('.all-data-cont').hide();
        $('.chart-container').show();
        var conH = 382; // 默认弹框高度为200px
        var tdH = $(this).height();
        var bodyH = $(document.body).height();
        var offT = $(this).offset().top;
        var offL = $(this).offset().left;
        var conL = $('.data-table').offset().left;
        var conT = $('.data-table').offset().top;
        var l = offL - conL - ($('.mask-data-container').width() - $(this).width()) / 2;
        var t = null;

        var conL1 = $('#report-data').offset().left;
        var conT1 = $('#report-data').offset().top;
        var l1 = offL - conL1 - ($('.mask-data-container').width() - $(this).width()) / 2;
        if (parentId.indexOf('year') > -1) { // 按年度
          if (bodyH - (offT + tdH) > conH) {
            // 显示在表格正下方
            t = offT + tdH - conT + 10;
            $('.mask-data-container').css('top', t);
            $('.mask-data-container').css('left', l);
          } else {
            // 显示在表格的正上方
            t = offT - tdH - conT - 292 - 72; // 292 rank-container 预测高度
            $('.mask-data-container').css('top', t);
            $('.mask-data-container').css('left', l);
          }
        } else { // 按报告期
          if (bodyH - (offT + tdH) > conH) {
            // 显示在表格正下方
            t = offT + tdH - conT1 + 10;
            $('.mask-data-container').css('top', t);
            $('.mask-data-container').css('left', l1);
          } else {
            // 显示在表格的正上方
            t = offT - tdH - conT1 - 292 - 72; // 292 rank-container 预测高度
            $('.mask-data-container').css('top', t);
            $('.mask-data-container').css('left', l1);
          }

        }
        // 重新获取数据 重新渲染
        var keyword = $(this).siblings().eq(0).data('title'); // 列名对应字段
        var keyword_cn=$(this).siblings().eq(0).html();
        var report_period = $(this).parent().parent().parent().find('thead td').eq($(this).index()).html();
        var code = '{{ stock_code }}';
        getForecastData(code, report_period, keyword,keyword_cn);

      }
      $('.forecase-init').off('click');
      $('.forecase-init').on('click',foreEven);




      // 按年度显示历史弹框
      function normalEvent() {
        var parentId = $(this).parent().parent().parent().prop('id');
        // 位置设置
        var conH = 292; // 默认弹框高度为200px
        var tdH = $(this).height();
        var bodyH = $(document.body).height();
        var offT = $(this).offset().top;
        var offL = $(this).offset().left;
        var conL = $('.data-table').offset().left;
        var conT = $('.data-table').offset().top;
        var l = offL - conL - ($('.rank-container').width() - $(this).width()) / 2;
        var t = null;

        var conL1 = $('#report-data').offset().left;
        var conT1 = $('#report-data').offset().top;
        var l1 = offL - conL1 - ($('.rank-container').width() - $(this).width()) / 2;
        if (parentId.indexOf('year') > -1) { // 按年度
          if (bodyH - (offT + tdH) > conH) {
            // 显示在表格正下方
            t = offT + tdH - conT + 10;
            $('.rank-container').css('top', t);
            $('.rank-container').css('left', l);
          } else {
            // 显示在表格的正上方
            t = offT - tdH - conT - 292 + 17; // 292 rank-container 预测高度
            $('.rank-container').css('top', t);
            $('.rank-container').css('left', l);
          }
        } else { // 按报告期
          if (bodyH - (offT + tdH) > conH) {
            // 显示在表格正下方
            t = offT + tdH - conT1 + 10;
            $('.rank-container').css('top', t);
            $('.rank-container').css('left', l1);
          } else {
            // 显示在表格的正上方
            t = offT - tdH - conT1 - 292 + 17; // 292 rank-container 预测高度
            $('.rank-container').css('top', t);
            $('.rank-container').css('left', l1);
          }

        }


        // 获取数据
        // 获取标题数组
        var $tds = $(this).parent().find('td');
        var $titles = $(this).parent().parent().parent().find('thead td');
        var tdArr = [];
        var titleArr = [];
        $tds.each(function (index, item) {
          if ($(item).prop('className') !== 'first-col' && $(item).css('display') !== 'none') {
            if ($(item).data('val') === 0)
              tdArr.push(null);
            else
              tdArr.push($(item).data('val'));
            titleArr.push($titles.eq(index).html());
          }
          initHistoryTable(tdArr, titleArr);
          initHistoryChart(tdArr, titleArr);
          closeHistory();
        });
      }
      $('.normal-init').off('click');
      $('.normal-init').on('click',normalEvent);
    }

    // 渲染历史弹框图表
    function initHistoryChart(tdArr, titleArr) {
      $('.rank-container').show();
      var min = Math.min.apply(null, tdArr) - 1;
      var max = Math.max.apply(null, tdArr) + 1;
      var interval = (max - min) / 5;
      var myChart = echarts.init(document.getElementById('main'));
      option = {
        grid: {
          x: 40,
        },
        title: {
          text: ''
        },
        tooltip: {
          trigger: 'axis',
          textStyle: {
            color: '#EEEFEE',
            decoration: 'none',
            fontSize: 12,
          },
          formatter: function (datas) {
            var res = '';
            for (var i = 0, length = datas.length; i < length; i++) {
              res += '年份' + datas[i].name + '</br>';
              if (datas[i].value)
                res += '数值' + datas[i].value + '</br>';
              else
                res += '';

            }
            return res;
          }
        },
        xAxis: {
          type: 'category',
          boundaryGap: false,
          data: titleArr,
          splitLine: {
            show: false
          },
          axisLabel: {
            show: true,
            textStyle: {
              fontSize: '10'
            },
            interval: 0,
            showMaxLabel: 1
          },
          axisLine: {
            lineStyle: {
              shadowOffsetX: 10
            }
          },
          axisTick: {
            inside: true,
            length: 3,
          }
        },
        yAxis: {
          min: min,
          max: max,
          type: 'value',
          splitLine: {
            show: false
          },
          axisLabel: {
            show: true,
            textStyle: {
              fontSize: '10'
            },
            margin: 1,
            formatter: function (value, index) {
              return value.toFixed(1);
            }
          },
          axisLine: {
            lineStyle: {
              shadowOffsetY: -10
            }
          },
          axisTick: {
            inside: true,
            length: 3
          },
          interval: interval
        },
        series: [
          {
            name: '年度数据',
            type: 'line',
            data: tdArr,
            symbol: 'none'
          }
        ]
      };
      myChart.setOption(option);
    }

    // 渲染历史弹框表格
    function initHistoryTable(tdArr, titleArr) {
      $('.rank-container').show();
      var str = '';
      $.each(tdArr, function (index, item) {
        str += '<tr>';
        str += '<td>' + titleArr[index] + '</td>';
        str += item ? '<td>' + item + '</td>' : '<td>--</td>';
        str += '</tr>';
      });
      $('.rank-content').html(str);
    }

    // 关闭历史弹框
    function closeHistory() {
      $('.history-close').click(function () {
        $('.rank-container').hide();
      });
    }

    // 点击预测数据相关函数
    // 预测弹框 点击表格预测数据时调用
    function getForecastData(code, report_period, keyword,keyword_cn) {
      countTri++;
      // 绑定数据前先把排序箭头恢复
      // 把排序箭头恢复
      $('#time-up').removeClass('up-plain').addClass('rank-up');
      $('#time-down').removeClass('rank-down').addClass('down-plain');

      $('#val-up').removeClass('up-plain').addClass('rank-up');
      $('#val-down').removeClass('rank-down').addClass('down-plain');


      $.ajax({
        type: 'GET',
        url: fix_url + '/api/research/finical/analyst/',
        data: {
          code: code,
          report_period: report_period,
          keyword: keyword
        },
        success: function (res) {
          pageData.all = res.table_data || []; // 默认排序
          pageData.total = res.table_data.length;
          pageData.analystsData = res.analysts || {};
          pageData.line_data = res.line_data || [];
          // 再次请求数据时，把容器清空
          pageData.all0 = [];
          pageData.all1 = [];
          pageData.all2 = [];
          pageData.all3 = [];

          pageData.all4 = [];
          pageData.all5 = [];
          pageData.all6 = [];
          pageData.all7 = [];


          // 获取数据后再整理大小顺序
          for (var i = 0; i < res.table_data.length; i++) {
            pageData.all0.push(res.table_data[i]);
            pageData.all1.push(res.table_data[i]);
            pageData.all2.push(res.table_data[i]);
            pageData.all3.push(res.table_data[i]);
            pageData.all4.push(res.table_data[i]);
            pageData.all5.push(res.table_data[i]);
            pageData.all6.push(res.table_data[i]);
            pageData.all7.push(res.table_data[i]);
          }

          // 最后点击的是时间
          // 时间升  数值升
          pageData.all0.sort(function (a, b) {
            return -(a.value - b.value);
          });
          pageData.all0.sort(function (a, b) {
            return -(a.published_dt_timestamp - b.published_dt_timestamp);
          });

          //时间降  数值升
          pageData.all1.sort(function (a, b) {
            return -(a.value - b.value);
          });
          pageData.all1.sort(function (a, b) {
            return (a.published_dt_timestamp - b.published_dt_timestamp);
          });

          //时间升  数值降
          pageData.all2.sort(function (a, b) {
            return (a.value - b.value);
          });
          pageData.all2.sort(function (a, b) {
            return -(a.published_dt_timestamp - b.published_dt_timestamp);
          });

          //时间降  数值降
          pageData.all3.sort(function (a, b) {
            return (a.value - b.value);
          });
          pageData.all3.sort(function (a, b) {
            return (a.published_dt_timestamp - b.published_dt_timestamp);
          });


          // 最后点击的是数值
          pageData.all4.sort(function (a, b) {
            return -(a.published_dt_timestamp - b.published_dt_timestamp);
          });
          pageData.all4.sort(function (a, b) {
            return -(a.value - b.value);
          });


          //时间降  数值升
          pageData.all5.sort(function (a, b) {
            return (a.published_dt_timestamp - b.published_dt_timestamp);
          });
          pageData.all5.sort(function (a, b) {
            return -(a.value - b.value);
          });


          //时间升  数值降
          pageData.all6.sort(function (a, b) {
            return -(a.published_dt_timestamp - b.published_dt_timestamp);
          });
          pageData.all6.sort(function (a, b) {
            return (a.value - b.value);
          });


          //时间降  数值降
          pageData.all7.sort(function (a, b) {
            return (a.published_dt_timestamp - b.published_dt_timestamp);
          });
          pageData.all7.sort(function (a, b) {
            return (a.value - b.value);
          });


          // 列表数据渲染
          clickRankBtn('up', 'up','status_time');
          timeOrder();


          console.log(' res.analysts-----------------',res.analysts);
          console.log(' res.line_data-----------------',res.line_data);
          // 图表数据渲染
          forecastChart(res.analysts, res.line_data,keyword_cn);

          // 导出数据href赋值
          $('#expForecastData').prop('href', res.export_url);


        },
        error: function (e) {
          console.log(e);
        }
      });

    }

    // 预测弹框  请求数据/数据渲染
    function clickRankBtn(time, value,status) {
      // 触发函数时先清理上次的容器
      if (countTri > 0) {
        var str = '';
        str += '<ul class="data-cont-chart" id="data-cont-chart-' + countTri + '">';
        str += '</ul>';
        str += '<div class="page-container" id="page-container-' + countTri + '">';
        str += '</div>';
        $('.data-cont-chart').before(str);
        $('#data-cont-chart-'+countTri).siblings('.data-cont-chart').remove();
        $('#page-container-'+countTri).siblings('.page-container').remove();
        $('#data-cont-chart-' + (countTri - 1)).remove();
        $('#page-container-' + (countTri - 1)).remove();
      }

      // 渲染对应页的数据
      function onePageData(curPage, pageSize) {
        pageData.dataList = [];
        var offset = curPage * pageSize;   //(curPage-1)*pageSize;  此处不需要减1，pagination中curPage存的是当前索引值
        var all = [];
        if(status==='status_time'){
          if (time === 'up' && value === 'up') {
            all = pageData.all0;
          } else if (time === 'up' && value === 'down') {
            all = pageData.all2;
          } else if (time === 'down' && value === 'down') {
            all = pageData.all3;
          } else if (time === 'down' && value === 'up') {
            all = pageData.all1;
          }
        }else{
          if (time === 'up' && value === 'up') {
            all = pageData.all4;
          } else if (time === 'up' && value === 'down') {
            all = pageData.all6;
          } else if (time === 'down' && value === 'down') {
            all = pageData.all7;
          } else if (time === 'down' && value === 'up') {
            all = pageData.all5;
          }
        }

        // 每一页
        for (var i = offset; i < offset + pageSize; i++) {
          if (all[i]) {
            pageData.dataList.push(all[i]);
          }
        }
        var dataHtml = '';
        $.each(pageData.dataList, function (index, item) {
          dataHtml += '<li>';
          dataHtml += '<span>' + item.analyst + '(' + item.org + ')' + '</span>';
          dataHtml += '<span>' + item.published_dt_format + '</span>';
          dataHtml += '<span>' + item.value_format + '</span>';
          dataHtml += item.yanbao_url ? '<span><a href="' + item.yanbao_url + '"><div class="span-link active">原文链接</div></a></span>' : '<span><div class="span-link">原文链接</div></span>';
          dataHtml += '</li>';
        });
        $('#data-cont-chart-' + countTri).html(dataHtml);
      }


      // 生成Pagination实例
      let opts1 = {
        context: 'page-container-' + countTri,
        pageSize: 10,
        total: pageData.total,
        callBack: onePageData
      };
      new Pagination(opts1);
    }

    // 预测弹框 时间升序降序/数值升序降序
    function timeOrder() {
      var history = ['up', 'up'];
      $('#time-up').click(function () {
        if (history[0] === 'up') {
          // 不需要根据时间的改变重新请求数据
        } else {
          history[0] = 'up';
          $('#time-up').addClass('rank-up');
          $('#time-up').removeClass('up-plain');
          $('#time-down').removeClass('rank-down');
          $('#time-down').addClass('down-plain');
          countTri++;
          clickRankBtn(history[0], history[1],'status_time');
        }
      });
      $('#time-down').click(function () {
        if (history[0] === 'down') {
          // 不需要根据时间的改变重新请求数据
        } else {
          history[0] = 'down';
          $('#time-down').addClass('rank-down');
          $('#time-down').removeClass('down-plain');
          $('#time-up').removeClass('rank-up');
          $('#time-up').addClass('up-plain');
          countTri++;
          clickRankBtn(history[0], history[1],'status_time');
        }
      });

      $('#val-up').click(function () {
        if (history[1] === 'up') {
          // 不需要因为数值的改变重新请求数据
        } else {
          history[1] = 'up';
          $('#val-up').addClass('rank-up');
          $('#val-up').removeClass('up-plain');
          $('#val-down').removeClass('rank-down');
          $('#val-down').addClass('down-plain');
          countTri++;
          clickRankBtn(history[0], history[1],'status_val');
        }

      });
      $('#val-down').click(function () {
        if (history[1] === 'down') {
          // 不需要因为数值的改变重新请求数据
        } else {
          history[1] = 'down';
          $('#val-down').addClass('rank-down');
          $('#val-down').removeClass('down-plain');
          $('#val-up').removeClass('rank-up');
          $('#val-up').addClass('up-plain');
          countTri++;
          clickRankBtn(history[0], history[1],'status_val');
        }
      });
    }



    // 预测弹框 切换到图表
    $('#toChart').click(function () {
      $('.all-data-cont').hide();
      $('.chart-container').show();
    });

    // 预测弹框 切换到文字
    $('.to-word').click(function () {
      $('.all-data-cont').show();
      $('.chart-container').hide();
    });

    // 预测弹框 关闭浮框
    $('.close-data-mask').click(function () {
      $('.mask-data-container').hide();
      $('.all-data-cont').hide();
      $('.chart-container').show();
    });

    // 预测弹框 echart图表
    function forecastChart(analystsData, line_data,keyword_cn) { // legend 显示文字 当前行的title
      var seriesObj = [];
      // 日期数据
      var dates = [];
      line_data.forEach(function (item) {
        dates.push(item[0]);
      });

      // 散点数据处理
//      seriesObj.push({
//        type: 'line',
//        data: line_data,
//        itemStyle: {normal: {color: '#151615', lineStyle: {width: 1}}},
//        symbol: 'none',
//        smooth: true
//      });
      $.each(analystsData, function (index, item) { // 对象遍历
        seriesObj.push({
          name: index + ' ' + item.analyst,
          type: 'scatter',
          data: item.data,
          itemStyle: {normal: {color: '#D9565A'}},
          symbolSize: 5
        });

        $.each(item.data, function (ind, ite) {
          dates.push(ite[0]);
        })
      });


      var maxDate = Math.max.apply(null, dates);
      var minDate = Math.min.apply(null, dates);
      if(maxDate-minDate<365*24*60*60*1000){
        minDate=maxDate-365*24*60*60*1000;
      }
      var intervalDate = (maxDate - minDate) / 6;

      var myChart = echarts.init(document.getElementById('point-cont'));
      option = {
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross'
          },
          textStyle: {
            color: '#EEEFEE',
            decoration: 'none',
            fontSize: 12,
          },
          formatter: function (datas) {
            var res = '';
            for (var i = 0, length = datas.length; i < length; i++) {
              res+=datas[i].seriesName + '</br>';
              if (datas[i].componentSubType === 'scatter'){
                res += keyword_cn+':' + datas[i].data[1] + '</br>';
              }
              else if(datas[i].componentSubType === 'line'){
                res += '平均值:' + datas[i].value[1] + '</br>';
              }
            }
            return res;
          }
        },
        xAxis: {
          type: 'time',
          min: minDate,
          max: maxDate,
          interval: intervalDate,
          axisTick: {
            show: false
          },
          splitLine: {
            show: true,
            lineStyle: {
              type: 'dotted',
            }
          },
          axisLine: {
            lineStyle: {
              color: '#6D6E70'
            }
          },
          axisLabel: {
            show: true,
            textStyle: {
              fontSize: '10'
            },
            formatter: function (value) {
              if (echarts.format.formatTime('MM', new Date(value))) {
              }
              return echarts.format.formatTime('MM', new Date(value)) + '月';
            }
          }

        },
        yAxis: {
          type: 'value',
          axisTick: {
            show: false
          },
          splitLine: {
            lineStyle: {
              type: 'dotted'
            }
          },
          axisLabel: {
            margin: 3,
            textStyle: {
              fontSize: '10'
            },
          },
          axisLine: {
            lineStyle: {
              shadowOffsetY: -10,
              color: '#6D6E70'
            }
          }
        },
        series: seriesObj
      };
      myChart.setOption(option);
    }


  })
</script>
{% endblock %}
