{% extends 'pages/base_common.html' %}
{% block css %}
{% endblock %}

{% block title %}
指标详情
{% endblock %}

{% block container %}


<!--右侧新闻_start-->

<!--顶部标题/搜索_start-->
<div class="header-title">
    <div>
        <span id="stock-title"><i></i>({{ stock_code }})&nbsp;</span>/&nbsp;指标详细
    </div>
    <div class="header-search">
        <span id="search-relative">找相关</span>
        <input type="text" id="search-inp">
    </div>
</div>
<ul class="search-container">
    <!--<li><span>aaa</span></li>-->
    <!--<li><span>aaa</span></li>-->
    <!--<li><span>aaa</span></li>-->
    <!--<li><span>aaa</span></li>-->
</ul>
<!--顶部标题/搜索_end-->

<!--图表_start-->
<div class="statistics-chart">
    <!--按年度的tab-->
    <div class="chart-tab" id="year-chart-tab">
        <span class="active">毛利率</span>
        <span>营业收入及增速</span>
        <span>期间营业率</span>
        <span>净利润增速</span>
        <span>预售账款</span>
        <span>资产周转率</span>
        <span>单车价格</span>
    </div>
    <!--按报告期的tab-->
    <div class="chart-tab" id="report-chart-tab" style="display:none">
        <span class="active">预售账款</span>
        <span>净利润增速</span>
        <span>毛利率</span>
    </div>
    <div class="legend">
        <div class="column3"><img src="/static/images/legend.png" alt="">行业排名</div>
        <div class="column2"><span></span>毛利率</div>
        <div class="column1"><span></span>毛利率预测</div>
    </div>
    <!--按年度的图表container-->
    <div class="chart-cont">
        <div id="year-chart-0" class="chart_year" style="width: 100%;height:360px;"></div>
        <div id="year-chart-1" class="chart_year" style="width: 100%;height:360px;"></div>
        <div id="year-chart-2" class="chart_year" style="width: 100%;height:360px;"></div>
        <div id="year-chart-3" class="chart_year" style="width: 100%;height:360px;"></div>
        <div id="year-chart-4" class="chart_year" style="width: 100%;height:360px;"></div>
        <div id="year-chart-5" class="chart_year" style="width: 100%;height:360px;"></div>
        <div id="year-chart-6" class="chart_year" style="width: 100%;height:360px;"></div>
    </div>
    <!--按报告期的图表container-->
    <div class="chart-cont" style="display: none;">
        <div id="report-chart-0" class="chart_report" style="width: 100%;height:360px;">a</div>
        <div id="report-chart-1" class="chart_report" style="width: 100%;height:360px;">b</div>
        <div id="report-chart-2" class="chart_report" style="width: 100%;height:360px;">c</div>
        <div id="report-chart-3" class="chart_report" style="width: 100%;height:360px;">d</div>
    </div>
</div>
<!--图表_end-->


<!--tab_start-->
<div class="kind-tab" id="kind-tab">
    <div class="left-group">
        <span class="active">按年度</span>
        <span>按报告期</span>
    </div>
    <div class="right-group">
        <span class="active" id="export-btn">导出数据</span>
        <span>加入对比</span>
        <!--导出数据弹框-->
    </div>
    <ul class="export-container">
        <li class="export-csv"><a href="">CSV格式</a></li>
        <li class="export-excel"><a href="">Excel格式</a></li>
    </ul>
</div>
<!--tab_end-->


<!--数据_start-->
<div class="data-cont">
    <!--左右切换年份_start-->
    <span class="pre-time" id="year-pre-time" style="display: block">&lt;</span>
    <span class="next-time" id="year-next-time" style="display: block">&gt;</span>
    <!--左右切换年份_end-->


    <!--左右切换报告期_start-->
    <span class="pre-time" id="report-pre-time" style="display: none">&lt;</span>
    <span class="next-time" id="report-next-time" style="display: none">&gt;</span>
    <!--左右切换报告期_end-->

    <!--切换箭头的遮罩层 数据请求回来后隐藏-->
    <div class="mask_arrow"></div>


    <div class="data-table" style="display: block">
        <table class="table-container" id="year-data-0">
            <thead>
            <!--<td class="first-col">资产表(百万元)</td>-->
            <!--<td>2017E</td>-->
            <!--<td>2017Q3E</td>-->
            <!--<td>2017Q3预</td>-->
            <!--<td>2017Q2</td>-->
            <!--<td>2017Q1</td>-->
            </thead>
            <tbody>
            <!--<tr>-->
            <!--<td class="tr-title">应收账款</td>-->
            <!--<td>38,886.82</td>-->
            <!--<td>58,152.86</td>-->
            <!--<td>37,152.16</td>-->
            <!--<td>43,554.22</td>-->
            <!--<td>54,152.22</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td class="tr-title">应收账款</td>-->
            <!--<td>38,886.82</td>-->
            <!--<td>58,152.86</td>-->
            <!--<td>37,152.16</td>-->
            <!--<td>43,554.22</td>-->
            <!--<td>54,152.22</td>-->
            <!--</tr>-->
            </tbody>
        </table>
        <table class="table-container" id="year-data-1">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
        <table class="table-container" id="year-data-2">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
        <table class="table-container" id="year-data-3">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="data-table" style="display: none">
        <table class="table-container" id="report-data-0">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
        <table class="table-container" id="report-data-1">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
        <table class="table-container" id="report-data-2">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
        <table class="table-container" id="report-data-3">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<!--数据_end-->

<!--右侧新闻_end-->
{% endblock %}

{% block js %}
<script src="/static/js/inputSearch.js"></script>
<script src="/static/js/echarts.js"></script>
<script>
  // 基于准备好的dom，初始化echarts实例
  var yearChart0 = echarts.init(document.getElementById('year-chart-0'));
  var yearChart1 = echarts.init(document.getElementById('year-chart-1'));
  var yearChart2 = echarts.init(document.getElementById('year-chart-2'));
  var yearChart3 = echarts.init(document.getElementById('year-chart-3'));
  var yearChart4 = echarts.init(document.getElementById('year-chart-4'));
  var yearChart5 = echarts.init(document.getElementById('year-chart-5'));
  var yearChart6 = echarts.init(document.getElementById('year-chart-6'));
  var ratios = [-11, -1, 40, 30, 70, 80, 13.4, 10, 5, -10];
  var ranks = [90, 90, 60, 50, 70, 78, 53, 58, 23, 8];
  var ratios1 = [11, 61, 90, 50, -10, 70, 13.4, 19, 5, 10];
  var ranks1 = [90, 90, 60, 50, 70, 78, 53, 58, 23, 8];
  function mychart(context,ratios,ranks) {
    //配置及数据
    optionWeek = {
      tooltip: {
        trigger: 'axis',
        show: true
      },
      xAxis: [
        {
          type: 'category',
          data: ['2010A', '2011A', '2012A', '2013A', '2014A', '2015A', '2016A', '2017E', '2018E', '2019E'],
          axisPointer: {
            type: 'shadow'
          },
          axisTick: {
            show: false
          },
          axisLabel: {
            show: true,
            textStyle: {
              color: '#5A5B5A',
              fontSize: '12'
            }
          },
          axisLine: {
            lineStyle: {
              color: '#EEF0F2'
            }
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: ['#EEF0F2']
            }
          }
        }
      ],
      yAxis: [
        {
          type: 'value',
          max: 100,
          min: -20,
          axisTick: {
            show: false
          },
          interval: 10,
          axisLabel: {
            formatter: '{value} %',
            show: true,
            textStyle: {
              color: '#5A5B5A',
              fontSize: '12'
            }
          },
          axisLine: {
            lineStyle: {
              color: '#EEF0F2'
            }
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: ['#EEF0F2']
            }
          }
        },
        {
          type: 'category',
          data: ['', '', '前100/100', '90/100', '80/100', '70/100', '60/100', '前50/100', '40/100', '30/100', '20/100', '前10/100'],
          axisTick: {
            show: false
          },
          axisLabel: {
            show: true,
            textStyle: {
              color: '#5A5B5A',
              fontSize: '12'
            }
          },
          axisLine: {
            lineStyle: {
              color: '#EEF0F2'
            }
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: ['#EEF0F2']
            }
          }
        }
      ],
      series: [
        {
          name: '毛利率预测',
          type: 'bar',
          data: ratios,
          itemStyle: {
            normal: {
              color: function (params) {
                var colorList = [
                  '#6F64BA', '#6F64BA', '#6F64BA', '#6F64BA', '#6F64BA', '#6F64BA', '#6F64BA', '#6F64BA', '#62B4F5', '#62B4F5'
                ];
                return colorList[params.dataIndex]
              }
            }
          },
          barWidth: 30
        },
        {
          name: '行业排名',
          type: 'line',
          data: ranks,
          itemStyle: {
            normal: {
              color: '#E4190D',
              lineStyle: {
                color: '#E4190D',
                width: 2
              }
            }
          }
        }
      ]
    };
    // 使用刚指定的配置项和数据显示图表。
    context.setOption(optionWeek);
  }
  mychart(yearChart0,ratios,ranks);
  mychart(yearChart1,ratios1,ranks1);
  mychart(yearChart2,ratios,ranks);
  mychart(yearChart3,ratios,ranks);
  mychart(yearChart4,ratios1,ranks1);
  mychart(yearChart5,ratios,ranks);
  mychart(yearChart6,ratios1,ranks1);

</script>

<script>
  $(function () {
    var fix_url = 'http://api-pro.xin-shui.com';
    var token=util.getCookie('token');
//    var token = '5b2d5bcda394d1247069b53dff32d304';
    // 左右tab切换（按年度/按报告期）
    $('.left-group span').click(function () {
      $(this).addClass('active').siblings().removeClass('active');
      $('.data-table').eq($(this).index()).show().siblings('.data-table').hide();
      // 控制哪一组箭头显示
      $('.pre-time').eq($(this).index()).show().siblings('.pre-time').hide();
      $('.next-time').eq($(this).index()).show().siblings('.next-time').hide();
      // 控制上面图表的tab
      $('.chart-tab').eq($(this).index()).show().siblings('.chart-tab').hide();
      // 控制上面图表哪组显示
      $('.chart-cont').eq($(this).index()).show().siblings('.chart-cont').hide();
      // 更改导出链接
      $('.export-csv a').prop('href',exportLink[$(this).index()].csv);
      $('.export-excel a').prop('href',exportLink[$(this).index()].excel);
      console.log($(this).index());
      $()
    });

    // 导出数据
    $('#export-btn').click(function () {
      $('.export-container').toggle();
      if ($('.export-container')[0]) {
        $('.export-container').click(function (e) {
          // console.log(e.target.innerHTML);
          // 获取相应的值 进行操作
          // xxxxxxxxxxxx
          $('.export-container').hide();
        })
      }
    });

    // 搜索框
    function bindData(data) {
      var str = '';
      $.each(data, function () {
        str += '<li><span>' + this.code + '</span><span>' + this.name + '</span></li>';
      });
      $('.search-container').html(str).show();
    }

    var opts = {
      url: fix_url + '/api/research/search',
      token: token,
      bindData: bindData,
      searchRes: function () {

      }
    };
    new InputSearch('#search-inp', '.search-container', '.search-container li', opts);

    var start_year = 3;
    var len_year = 7;
    var start_report = 4;
    var len_report = 8;

    // 保存导出链接
    var exportLink=[{csv:'', excel:''},{csv:'', excel:''}]; // 0按年度  1按报告期

    // 按年度数据
    $.ajax({
      type: 'GET',
      url: 'http://api-pro.xin-shui.com/api/research/forecast/year/',
      data: {
        code: '{{ stock_code }}',
        token:token
      },

      success: function (res) {
        // 替换标题
        var nameSpan = $('#stock-title');
        var val = nameSpan.html();
        val = val.replace(/<i><\/i>/g, res.stock_name);
        nameSpan.html(val);
        // 按年度保存并且修改导出链接
        exportLink[0].csv=res.export_csv;
        exportLink[0].excel=res.export_excel;
        $('.export-csv a').prop('href',res.export_csv);
        $('.export-excel a').prop('href',res.export_excel);
        $.each(res.table_data, function (index, item) {
          len_year = item.cols_title.length;
          start_year = len_year - 4;
          $('.mask_arrow').hide();
          initTable('#year-data-', item, index);
        })

      },
      error: function (e) {
//        window.location.href = '/login';
        console.log(e)
      }
    });

    // 按报告日期
    $.ajax({
      type: 'GET',
      url: 'http://api-pro.xin-shui.com/api/research/forecast/report/',
      data: {
        code: '{{ stock_code }}',
        token:token
      },

      success: function (res) {
        var nameSpan = $('#stock-title');
        var val = nameSpan.html();
        val = val.replace(/<i><\/i>/g, res.stock_name);
        nameSpan.html(val);
        // 按报告期 保存导出链接
        exportLink[1].csv=res.export_csv;
        exportLink[1].excel=res.export_excel;
        $.each(res.table_data, function (index, item) {
          len_report = item.cols_title.length;
          start_report = len_report - 4;
          $('.mask_arrow').hide();
          initTable('#report-data-', item, index);
        })
      },
      error: function (e) {
        console.log(e)
      }
    });

    // 渲染表格数据
    function initTable(fixId, data, ind) { // fixId  id的前缀  '#year-data-'
      if (data.cols_title && data.cols_title.length) { // 说明有数据
        // 渲染表头
        data.cols_title.unshift(data.name);
        var titles = data.cols_title;
        var titleStr = '';
        $.each(titles, function (index, item) {
          if (index === 0) {
            titleStr += '<td class="first-col" style="color:#FD2F30">' + item + '</td>';
          } else if (index < titles.length - 5) { // 13组数据显示后5列
            titleStr += '<td style="display: none;">' + item + '</td>';
          } else {
            titleStr += '<td>' + item + '</td>';
          }
        });
        $(fixId + ind + ' thead').html(titleStr);

        // 主体表格数据
        var str = '';
        $.each(data.rows_data, function (index, item) {
          str += '<tr>';
          str += '<td class="first-col">' + index + '</td>'; // 第一列
          $.each(item, function (ind, ite) {
            if (ind < titles.length - 6) { // 13组数据显示后5列
              str += '<td style="display: none;">' + (ite.value ? ite.value : '--') + '</td>';
            } else {
              str += '<td>' + (ite.value ? ite.value : '--') + '</td>'
            }
          });
          str += '</tr>';
        });
        $(fixId + ind + ' tbody').html(str);
        // 初始化 箭头右边不可点
        var len = titles.length - 1;
        var start = len - 4;
        var fix_id = fixId.split('-')[0];
        if (start > 0 && start + 4 < len) {
          $(fix_id + '-next-time').css('color', '#515254');
          $(fix_id + '-next-time').css('cursor', 'pointer');
          $(fix_id + '-pre-time').css('color', '#515254');
          $(fix_id + '-pre-time').css('cursor', 'pointer');
        } else if (start === 0) {
          $(fix_id + '-pre-time').css('color', '#ccc');
          $(fix_id + '-pre-time').css('cursor', 'not-allowed');
        } else if (start + 4 === len) {
          $(fix_id + '-next-time').css('color', '#ccc');
          $(fix_id + '-next-time').css('cursor', 'not-allowed');
        }
      } else {
        console.log('无数据')
      }
    }

    // 左右切换表格年份公共方法
    function switchHead(fixId, total, start, len) {
      // fixId表的前缀名  total表的个数  start现在显示开始位置  len表头长度（需要去除第一列）
      // 左右切换箭头样式
      for (var i = 0; i < total; i++) { // 遍历拼接id
        // 当前 start-start+4
        for (var j = 1; j < len + 1; j++) {
          if (j < start) {
            $(fixId + i + ' thead').find('td').eq(j).hide();
            $(fixId + i + ' tbody tr').each(function (index, item) {
              $(item).find('td').eq(j).hide();
            });
          } else if (j > (start + 4)) {
            $(fixId + i + ' thead').find('td').eq(j).hide();
            $(fixId + i + ' tbody tr').each(function (index, item) {
              $(item).find('td').eq(j).hide();
            });
          } else {
            $(fixId + i + ' thead').find('td').eq(j).show();
            $(fixId + i + ' tbody tr').each(function (index, item) {
              $(item).find('td').eq(j).show();
            });
          }
        }
      }
    }

    // 按年度 切换上一个
    $('#year-pre-time').click(function () {
      if (start_year >= 0 && start_year + 4 <= len_year) {
        $('#year-next-time').css('color', '#515254');
        $('#year-next-time').css('cursor', 'pointer');
      }
      if (start_year > 1) {
        start_year--;
        switchHead('#year-data-', 4, start_year, len_year);
      } else {
        console.log('已经是最前了');
        start_year = 0;
        $('#year-pre-time').css('color', '#ccc');
        $('#year-pre-time').css('cursor', 'not-allowed');
        return false;
      }
    });

    // 按年度 切换下一个
    $('#year-next-time').click(function () {
      if (start_year >= 0 && start_year + 4 <= len_year) {
        $('#year-pre-time').css('color', '#515254');
        $('#year-pre-time').css('cursor', 'pointer');
      }
      if (start_year + 4 < len_year) {
        start_year++;
        switchHead('#year-data-', 4, start_year, len_year);
      } else {
        console.log('已经是最后了');
        start_year = len_year - 4;
        $('#year-next-time').css('color', '#ccc');
        $('#year-next-time').css('cursor', 'not-allowed');
        return false;
      }
    });


    // 按报告期 切换上一个
    $('#report-pre-time').click(function () {
      if (start_report >= 0 && start_report + 4 <= len_report) {
        $('#report-next-time').css('color', '#515254');
        $('#report-next-time').css('cursor', 'pointer');
      }
      if (start_report > 1) {
        start_report--;
        switchHead('#report-data-', 4, start_report, len_report);
      } else {
        console.log('已经是最前了');
        start_report = 0;
        $('#report-pre-time').css('color', '#ccc');
        $('#report-pre-time').css('cursor', 'not-allowed');
        return false;
      }
    });

    // 按报告期 切换下一个
    $('#report-next-time').click(function () {
      if (start_report >= 0 && start_report + 4 <= len_report) {
        $('#report-pre-time').css('color', '#515254');
        $('#report-pre-time').css('cursor', 'pointer');
      }
      if (start_report + 4 < len_report) {
        start_report++;
        console.log('一直加');
        switchHead('#report-data-', 4, start_report, len_report);
      } else {
        console.log('已经是最后了');
        $('#report-next-time').css('color', '#ccc');
        $('#report-next-time').css('cursor', 'not-allowed');
        return false;
      }
    });


    // 按年度 切换上面图表tab
    $('#year-chart-tab span').click(function () {
      $(this).addClass('active').siblings().removeClass('active');
      $('.chart-cont .chart_year').eq($(this).index()).show().siblings('.chart_year').hide();
    });

    // 按报告期 切换上面图表tab
    $('#report-chart-tab span').click(function () {
      $(this).addClass('active').siblings().removeClass('active');
      $('.chart-cont .chart_report').eq($(this).index()).show().siblings('.chart_report').hide();
    });

    // 查找相关
    $('#search-relative').click(function () {
      var str=$('#search-inp').val();
      var reg=/\d+/;
      if(reg.test(str)===true){
        var code=reg.exec(str)[0];
        console.log(code);
      }else {
        console.log(str)
      }
    });




  })
</script>
{% endblock %}
