<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <title>嘉实智能投研系统</title>
    <link rel="stylesheet" href="/static/css/tempIndex.css">
</head>
<body>


<div class="temp-container">
    <img src="/static/images/logo-fff.png" alt="">
    <div class="top-title">嘉实智能投研系统</div>
    <div class="search-header">
        <input type="text" class="temp-inp" placeholder="输入股票代码、名称或者关键词">
        <a href="" class="out-search-btn">智能检索</a>
    </div>

    <table class="res-list" style="display:none">
        <tbody>
        <!--<tr>-->
        <!--<td>600970</td>-->
        <!--<td>中材国际</td>-->
        <!--<td>-->
        <!--<span class="report-btn">智能报告</span>-->
        <!--</td>-->
        <!--<td>-->
        <!--<span class="finance-btn">财报</span>-->
        <!--</td>-->
        <!--<td>-->
        <!--<span class="search-btn">搜索</span>-->
        <!--</td>-->
        <!--</tr>-->
        </tbody>
    </table>

</div>
<div class="footer-container">&copy; Harvest Found 2017 . All Rights Reserve</div>

<!--<script src="/static/js/jquery-1.11.3.js"></script>-->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script src="/static/js/util.js"></script>
<script>
  $(function () {
    var token = util.getCookie('token');
    // var token = '5b2d5bcda394d1247069b53dff32d304';
    var fix_url = 'http://api-pro.xin-shui.com';

    // 搜索框
    $('.temp-inp').on('input focus propertychange', function () {
      var q = $('.temp-inp').val();
      if (q) {
        $.ajax({
          // 百度搜索关键词 请求 接口API
          url: fix_url + '/api/research/search',
          type: 'GET',
          data: { // 向后台发送数据
            q: q,
            token: token
          },
          success: function (res) {
            if (res.results) {
              initSearch(res.results)
            }
          },
          error: function (e) {
            if (e.status === 401 && JSON.parse(e.responseText).code === 40003) {
              // token过期
              console.log('过期');
              alert('登录信息失效，请重新登录');
              window.location.href = '/login';
            }
            console.log(e);

          }
        })

      }
    });

    //渲染搜索结果
    function initSearch(data) {
      if (data) {
        var str = '';
        $.each(data, function (index, item) {
          var q = $('.temp-inp').val();
          var reg = new RegExp(q, 'g');
          var tCode=item.code.toString();
          var tName=item.name;
          if(Number(q)){
            tCode=tCode.replace(reg,function (e) {
              return '<i style="color:#E86664">'+e+'</i>'
            });
          }else{
            tName=tName.replace(reg,function (e) {
              return '<i style="color:#E86664">'+e+'</i>'
            });
          }
          str += '<tr>';
          str += '<td><a href="http://api-pro.xin-shui.com/research/finical/pick/export/' + item.code + '">' +tCode+'</a></td>';
          str += '<td><a href="http://api-pro.xin-shui.com/research/finical/pick/export/' + item.code + '">' + tName+ '</a></td>';
          str += '<td >';
          str += '<a href="http://api-pro.xin-shui.com/research/finical/pick/export/' + item.code + '"><span class="report-btn">智能报告</span></a>';
          str += '</td>';
          str += '<td>';
          str += '<a href="/forecast/' + item.code + '"><span class="finance-btn">财报</span></a>';
          str += '</td>';
          str += '<td>';
          str += '<a href="/forecast/more/?q='+item.name+'&ct=research"><span class="search-btn">搜索</span></a>';
          str += '</td>';
          str += '</tr>';
        });
        $('.res-list tbody').html(str);
        $('.res-list').show();
      } else {
        $('.res-list').hide();
      }
    }


    // 搜索
   $('.out-search-btn').click(function () {
     var val=$('.temp-inp').val();
     if(val){
       $('.temp-inp').val('');
       $('.out-search-btn').prop('href','/forecast/more/?q='+val+'&ct=research&key=kw');
     }else {
       $('.out-search-btn').prop('href','javascript:;')
     }

   })

  })
</script>

</body>
</html>
