{% extends 'pages/base_common.html' %}
{% block css %}
<link rel="stylesheet" href="/static/css/tempIndex.css">
{% endblock %}

{% block title %}
主页
{% endblock %}

{% block container %}
<div class="temp-container">
    <div class="search-header">
        <input type="text" class="temp-inp">
        <span class="out-search-btn">搜索</span>
    </div>

    <table class="res-list" style="display:none">
        <tbody>
        <!--<tr>-->
        <!--<td>600970</td>-->
        <!--<td>中材国际</td>-->
        <!--<td>-->
        <!--<span class="report-btn">智能报告</span>-->
        <!--</td>-->
        <!--<td>-->
        <!--<span class="finance-btn">财报</span>-->
        <!--</td>-->
        <!--<td>-->
        <!--<span class="search-btn">搜索</span>-->
        <!--</td>-->
        <!--</tr>-->
        </tbody>
    </table>

</div>
{% endblock %}

{% block js %}
<script>
  $(function () {
    var token = util.getCookie('token');
    // var token = '5b2d5bcda394d1247069b53dff32d304';
    var fix_url = 'http://api-pro.xin-shui.com';

    // 搜索框
    $('.temp-inp').on('input propertychange', function () {
      var q = $('.temp-inp').val();
      if (q) {
        $.ajax({
          // 百度搜索关键词 请求 接口API
          url: fix_url + '/api/research/search',
          type: 'GET',
          data: { // 向后台发送数据
            q: q,
            token: token
          },
          success: function (res) {
            if (res.results) {
              initSearch(res.results)
            }
          },
          error: function (e) {
            if (e.status === 401 && JSON.parse(e.responseText).code === 40003) {
              // token过期
              console.log('过期');
              alert('登录信息失效，请重新登录');
              window.location.href = '/login';
            }
            console.log(e);

          }
        })

      }
    });

    //渲染搜索结果
    function initSearch(data) {
      if (data) {
        var str = '';
        $.each(data, function (index, item) {
          str += '<tr>';
          str += '<td>' + item.code + '</td>';
          str += '<td>' + item.name + '</td>';
          str += '<td >';
          str += '<span class="report-btn">智能报告</span>';
          str += '</td>';
          str += '<td>';
          str += '<span class="finance-btn">财报</span>';
          str += '</td>';
          str += '<td>';
          str += '<span class="search-btn">搜索</span>';
          str += '</td>';
          str += '</tr>';
        });
        $('.res-list tbody').html(str);
        $('.res-list').show();
      } else {
        $('.res-list').hide();
      }
    }

  })
</script>
{% endblock %}
