<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <title>嘉实智能投研系统</title>
    <link rel="stylesheet" href="/static/css/tempIndex.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
</head>
<body>


<div class="temp-container">
    <img src="/static/images/logo_index.png" alt="">
    <div class="top-title">嘉实智能投研系统</div>
    <div class="search-header">
        <input type="text" class="temp-inp" id="temp-inp" placeholder="输入股票代码、名称或者关键词">
        <a href="javascript:;" class="out-search-btn">智能检索</a>
    </div>

    <table class="res-list" id="res-list" style="display:none">
        <tbody>
        </tbody>
    </table>

</div>
<div class="footer-container">&copy; Harvest Fund 2018 . All Rights Reserved</div>

<!--<script src="/static/js/jquery-1.11.3.js"></script>-->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script src="/static/js/inputSearch.js?adsf"></script>
<!--<script src="/static/js/util.js"></script>-->
<script>
  $(function () {


//    var token = util.getCookie('token');
    var token = '5b2d5bcda394d1247069b53dff32d304';
    var fix_url = 'http://api-pro.xin-shui.com';

    // 自动获取焦点
    $('.temp-inp').focus();
    $('.temp-inp').val('');


    // 搜索框
//    $('.temp-inp').on('input focus propertychange', function () {
//      var q = $('.temp-inp').val();
//      if (q) {
//        $.ajax({
//          // 百度搜索关键词 请求 接口API
//          url: fix_url + '/api/research/search',
//          type: 'GET',
//          data: { // 向后台发送数据
//            q: q
//          },
//          success: function (res) {
//            console.log(res);
//            if (res.results) {
//              if(res.results&&res.results.length){
//                initSearch(res.results)
//              }else {
//                $('.res-list').hide()
//              }
//            }
//          },
//          error: function (e) {
//            if (e.status === 401 && JSON.parse(e.responseText).code === 40003) {
//              // token过期
//              console.log('过期');
//              alert('登录信息失效，请重新登录');
//              window.location.href = '/login';
//            }
//            console.log(e);
//
//          }
//        })
//
//      }
//    });
    var opts = {
      url: fix_url + '/api/research/search?q' + $('.temp-inp').val(),
      bindData: initSearch,
      searchRes: function (code,value) {
        var val = $('.temp-inp').val();
        if (val) {
          if(!value){
            window.location.href = 'http://api-pro.xin-shui.com/research/finical/pick/pdf_html/' + code
          }else {
            window.location.href = '/search/?q=' + encodeURI(value) + '&ct=research&key=kw';
          }
        }
      }
    };
    new InputSearch('#temp-inp', '#res-list', '#res-list tbody tr', opts);

    //渲染搜索结果
    function initSearch(data) {
      if(Number($('.temp-inp').val())){
        data.sort(function (a,b) {
          return a.code-b.code;
        });
      }
      if (data) {
        var str = '';
        $.each(data, function (index, item) {
          var q = $('.temp-inp').val();
          var reg = new RegExp(q, 'gi');
          var tCode = item.code.toString();
          var tName = item.name;
          if (Number(q)) {
            tCode = tCode.replace(reg, function (e) {
              return '<i style="color:#E86664">' + e + '</i>'
            });
          } else {
            tName = tName.replace(reg, function (e) {
              return '<i style="color:#E86664">' + e + '</i>'
            });
          }
          str += '<tr data-code="'+item.code+'">';
          str += '<td><a href="http://api-pro.xin-shui.com/research/finical/pick/pdf_html/' + item.code + '">' + tCode + '</a></td>';
          str += '<td><a href="http://api-pro.xin-shui.com/research/finical/pick/pdf_html/' + item.code + '">' + tName + '</a></td>';
          str += '<td >';
          str += '<a href="http://api-pro.xin-shui.com/research/finical/pick/pdf_html/' + item.code + '"><span class="report-btn">智能报告</span></a>';
          str += '</td>';
          str += '<td>';
          str += '<a href="/forecast/' + item.code + '"><span class="finance-btn">财报</span></a>';
          str += '</td>';
          str += '<td>';
          str += '<a href="/forecast/more/?q=' + encodeURI(item.name) + '&ct=research"><span class="search-btn">搜索</span></a>';
          str += '</td>';
          str += '</tr>';
        });
        $('.res-list tbody').html(str);
        $('.res-list').show();
      } else {
        $('.res-list').hide();
      }
    }

    // 搜索
    $('.out-search-btn').click(function () {
      var val = $('.temp-inp').val();
      if (val) {
        if ($('#res-list').css('display') !== 'none') { // 有联想词
          var code = '';
          // code = $('#res-list tbody tr').eq(0).find('td').eq(0).find('a').html();  // 鼠标没有选中项  默认进第一条
          code = $('#res-list tbody tr').data('code');  // 鼠标没有选中项  默认进第一条
          $('#res-list tbody tr').each(function (index, item) {
            if (item.style.backgroundColor === 'rgb(228, 238, 249)' || item.style.backgroundColor === '#FDFFFD') { // 鼠标有选中项  进选中条
//              code = $('#res-list tbody tr').eq(index).find('td').eq(0).find('a').html();
              code = $('#res-list tbody tr').eq(index).data('code');
            }
          });
          $('.out-search-btn').prop('href', 'http://api-pro.xin-shui.com/research/finical/pick/pdf_html/' + code);
        } else { // 无联想词
          $('.temp-inp').val('');
          $('.out-search-btn').prop('href', '/search/?q=' + encodeURI(val) + '&ct=research&key=kw');
        }
      } else {
        $('.out-search-btn').prop('href', 'javascript:;')
      }
    })




  })
</script>

</body>
</html>
