<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>

<body>
{% for message in messages %}
{{ message }}
{% endfor %}
<div class="container">
    <form autocomplete="off" method="POST" action="/login/">
        {% csrf_token %}
        <img src="/static/images/logo.png" alt="">
        <h2>嘉实智能投研后台系统</h2>
        <div class="error-info">
            <span class="error-cont"></span>
            <span class="error-close">&times</span>
        </div>
        <input class="inpText" type="text" name="username" placeholder="请输入账号"/>
        <input class="inpText" type="password" name="password" placeholder="请输入密码"/>
        <div class="remember-pwd">
            <input class="select-all" type="checkbox" value="0" id="checkbox-1" style="display: none;">
            <label for="checkbox-1"></label>
            <span>记住密码</span>
        </div>
        <input class="loginBtn"  type="submit" value="提交"/>
    </form>
</div>
<div class="copyright">
    Copyright &copy; 2017信谁科技
</div>
</form>

<script src="/static/js/jquery-1.11.3.js"></script>
<script src="/static/js/util.js"></script>
<script>
  $(function () {
    // 记住密码
    function loadAccountInfo() {
      var accountInfo = util.getCookie('accountInfo');
      if (Boolean(accountInfo) == false) {
        console.log('cookie中没有检测到账号信息！');
        return false;
      }
      else {
        //如果cookie里有账号信息
        console.log('cookie中检测到账号信息！现在开始预填写！');
        var username = "";
        var passWord = "";
        var index = accountInfo.indexOf("&");
        account = accountInfo.substring(0, index);
        password = accountInfo.substring(index + 1);
        ;
        this.passWord = passWord;
        $('[name=username]').val(username);
        $('[name=password]').val(password);
        $("[type='checkbox']:checkbox")[0].checked = true;
      }
    }

    loadAccountInfo();

//    $('.loginBtn').click(function () {
//      var data={
//        username:'research1',
//        password:'research1'
//      }
//      $.ajax({
//        url: 'http://192.168.100.206:8000/api/research/login/',
//        type: 'POST',
//        data: data,
//        success: function (res) {
//          console.log(res);
//        },
//        error:function (e) {
//          console.log(e)
//        }
//      })
//    });

    // 提交登录信息
    $("form").submit(function (e) {
      e.preventDefault();
      var data = {};
      var formData = $('form').serializeArray();
      $.each(formData, function () {
        data[this.name] = this.value;
      });
      if (!data.username || !data.password) {
        $('.error-cont')[0].innerHTML='请输入账号名和密码';
        $('.error-info').css('visibility', 'visible');
        return false;
      } else {
        // 登录请求
        $.ajax({
          url: 'http://192.168.100.206:8000/api/research/login/',
          type: 'POST',
          data: data,
          success: function (res) {
            if (res.code === 0) { // 账号密码正确
              // 进行跳转
              // 如果记住密码 种植cookie
              if ($("[type='checkbox']:checkbox")[0].checked) {
                var accountInfo = data.username + "&" + data.password;
                util.setCookie('accountInfo', accountInfo, 1440 * 3);
              } else { // 没有勾选记住密码，现在开始删除账号cookie
                util.delCookie('accountInfo');
              }
              // 跳转到主页面
              //xxxxxxxxxxxxxxxx
              window.location.href='/';
            }
            return true;
          },
          error:function (e) {
            if (e.status===400&&e.responseJSON.code === 40001) {
              // 用户名或者密码错误
              $('.error-info').css('visibility', 'visible');
              $('.error-cont')[0].innerHTML='用户名或者密码错误';
              return false;
            }
            return false;
          }
        });
      }
    });

    //  关闭错误提示
    $('.error-close').click(function () {
      $('.error-info').css('visibility', 'hidden');
    });
  });

</script>
</body>
</html>